{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../">{% trans "Home" %}</a> &rsaquo;
    </div>
{% endblock %}


{% block content %}
    <p>{% blocktrans %}Are you sure you want to logout?{% endblocktrans %}</p>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <input type="hidden" name="post" value="yes" />
            <input type="submit" value="{% trans "Yes, I'm sure" %}" />
        </div>
    </form>
{% endblock %}
