{% load i18n l10n static %}
<style type="text/css">{% block map_css %}{% get_current_language_bidi as LANGUAGE_BIDI %}
    #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
    #{{ id }}_map .aligned label { float: inherit; }
    #{{ id }}_div_map { position: relative; vertical-align: top; float: {{ LANGUAGE_BIDI|yesno:"right,left" }}; }
    {% if not display_raw %}#{{ id }} { display: none; }{% endif %}
    .olControlEditingToolbar .olControlModifyFeatureItemActive {
        background-image: url("{% static "admin/img/gis/move_vertex_on.svg" %}");
        background-repeat: no-repeat;
    }
    .olControlEditingToolbar .olControlModifyFeatureItemInactive {
        background-image: url("{% static "admin/img/gis/move_vertex_off.svg" %}");
        background-repeat: no-repeat;
    }{% endblock %}
</style>

<div id="{{ id }}_div_map" class="{% block divclass %}geodjangoDivMap{% endblock %}"
     {% block gisdata %}data-gis-geomname="{{ geom_type }}" data-gis-id="{{ id }}"
     data-gis-name="{{ name }}" data-gis-mapsrid="{{ map_srid|unlocalize }}"
     {% endblock %}>
    <div id="{{ id }}_map"></div>
    <span class="clear_features"><a href="#">{% trans "Delete all Features" %}</a></span>
    {% if display_raw %}<p>{% trans "Debugging window (serialized value)" %}</p>{% endif %}
    <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
</div>
