{% extends "base_site" %}

{% block bodyclass %}change-list{% endblock %}

{% block content %}

{% if not hide_add_link %}
<ul class="object-tools"><li><a href="/{{ admin_url }}/add/" class="addlink">{% i18n _('Add') %} {{ object_name }}</a></li></ul>
{% endif %}

<div id="content-main">
<div class="module">

    {% if toplinks %}
    <ul class="toplinks">
        {% for toplink in toplinks %}
        <li><a href="{{ toplink.link }}/">{{ toplink.text }}/</a></li>
        {% endfor %}
    </ul>
    <hr />
    {% endif %}

    {% if changelist %}
    <ul class="changelist">
        {% for obj in changelist %}
        <li class="{% cycle row1,row2 %}"><a href="/{{ admin_url }}/change/{{ obj.id }}/" title="{% i18n _('Click to change') %}">{{ obj|striptags|escape }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
</div>

{% endblock %}
