{% extends "base_site" %}

{% block content %}

{% if perms_lacking %}
    <p>Deleting the {{ object_name }} "{{ object }}" would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:</p>
    <ul>
    {% for obj in perms_lacking %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Are you sure you want to delete the {{ object_name }} "{{ object }}"? All of the following related items will be deleted:</p>
    <ul>{{ deleted_objects|unordered_list }}</ul>
    <form action="" method="post">
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="Yes, I'm sure" />
    </form>
{% endif %}

{% endblock %}
