{
    "rules": {
        "camelcase": ["off", {"properties": "always"}],
        "comma-spacing": ["error", {"before": false, "after": true}],
        "dot-notation": ["error", {"allowKeywords": true}],
        "curly": ["error", "all"],
        "indent": ["error", 4],
        "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
        "new-cap": ["off", {"newIsCap": true, "capIsNew": true}],
        "no-alert": ["off"],
        "no-eval": ["error"],
        "no-extend-native": ["error", {"exceptions": ["Date", "String"]}],
        "no-multi-spaces": ["error"],
        "no-octal-escape": ["error"],
        "no-underscore-dangle": ["error"],
        "no-unused-vars": ["error", {"vars": "local", "args": "none"}],
        "no-script-url": ["error"],
        "no-shadow": ["error", {"hoist": "functions"}],
        "quotes": ["off", "single"],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "always"],
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", {"anonymous": "never", "named": "never"}],
        "space-infix-ops": ["error", {"int32Hint": false}],
        "strict": ["warn", "function"]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "django": false
    }
}
