[flake8]
exclude = build,.git,.tox,./tests/.env
extend-ignore = E203
max-line-length = 88
per-file-ignores =
    thibaud/core/cache/backends/filebased.py:W601
    thibaud/core/cache/backends/base.py:W601
    thibaud/core/cache/backends/redis.py:W601
    tests/cache/tests.py:W601
