[flake8]
exclude = build,.git,.tox,./tests/.env
extend-ignore = E203
max-doc-length = 79
max-line-length = 88
per-file-ignores =
    # W505: Files with existing docstrings or comments > max-doc-length.
    # Remove from this list as they get cleaned up through other work.
    django/core/cache/backends/filebased.py:W601
    django/core/cache/backends/base.py:W505,W601
    django/core/cache/backends/redis.py:W601
    tests/cache/tests.py:W505,W601
    # (W505 only below here)
    docs/conf.py:W505
    django/apps/registry.py:W505
    django/conf/__init__.py:W505
    django/conf/global_settings.py:W505
    django/conf/locale/__init__.py:W505
    django/contrib/admin/actions.py:W505
    django/contrib/admin/checks.py:W505
    django/contrib/admin/options.py:W505
    django/contrib/admin/sites.py:W505
    django/contrib/admin/templatetags/admin_list.py:W505
    django/contrib/admin/templatetags/log.py:W505
    django/contrib/admin/tests.py:W505
    django/contrib/admin/utils.py:W505
    django/contrib/admin/views/main.py:W505
    django/contrib/admin/widgets.py:W505
    django/contrib/admindocs/utils.py:W505
    django/contrib/auth/mixins.py:W505
    django/contrib/auth/models.py:W505
    django/contrib/auth/password_validation.py:W505
    django/contrib/auth/urls.py:W505
    django/contrib/contenttypes/admin.py:W505
    django/contrib/contenttypes/fields.py:W505
    django/contrib/gis/db/backends/base/features.py:W505
    django/contrib/gis/db/backends/base/operations.py:W505
    django/contrib/gis/db/backends/mysql/features.py:W505
    django/contrib/gis/db/backends/mysql/introspection.py:W505
    django/contrib/gis/db/backends/oracle/introspection.py:W505
    django/contrib/gis/db/backends/oracle/operations.py:W505
    django/contrib/gis/db/backends/postgis/introspection.py:W505
    django/contrib/gis/db/backends/postgis/operations.py:W505
    django/contrib/gis/db/backends/postgis/schema.py:W505
    django/contrib/gis/db/backends/spatialite/introspection.py:W505
    django/contrib/gis/db/backends/spatialite/operations.py:W505
    django/contrib/gis/db/backends/spatialite/schema.py:W505
    django/contrib/gis/db/backends/utils.py:W505
    django/contrib/gis/db/models/fields.py:W505
    django/contrib/gis/db/models/functions.py:W505
    django/contrib/gis/db/models/lookups.py:W505
    django/contrib/gis/gdal/envelope.py:W505
    django/contrib/gis/gdal/field.py:W505
    django/contrib/gis/gdal/geometries.py:W505
    django/contrib/gis/gdal/raster/band.py:W505
    django/contrib/gis/gdal/raster/source.py:W505
    django/contrib/gis/gdal/srs.py:W505
    django/contrib/gis/geos/collections.py:W505
    django/contrib/gis/geos/coordseq.py:W505
    django/contrib/gis/geos/geometry.py:W505
    django/contrib/gis/geos/libgeos.py:W505
    django/contrib/gis/geos/linestring.py:W505
    django/contrib/gis/geos/point.py:W505
    django/contrib/gis/geos/polygon.py:W505
    django/contrib/gis/geos/prototypes/errcheck.py:W505
    django/contrib/gis/measure.py:W505
    django/contrib/gis/utils/layermapping.py:W505
    django/contrib/gis/utils/ogrinspect.py:W505
    django/contrib/humanize/templatetags/humanize.py:W505
    django/contrib/postgres/signals.py:W505
    django/contrib/sessions/backends/base.py:W505
    django/contrib/sitemaps/__init__.py:W505
    django/contrib/staticfiles/storage.py:W505
    django/contrib/syndication/views.py:W505
    django/core/cache/backends/db.py:W505
    django/core/cache/backends/memcached.py:W505
    django/core/checks/messages.py:W505
    django/core/checks/security/base.py:W505
    django/core/files/base.py:W505
    django/core/files/move.py:W505
    django/core/files/storage/base.py:W505
    django/core/files/storage/filesystem.py:W505
    django/core/files/uploadedfile.py:W505
    django/core/files/uploadhandler.py:W505
    django/core/handlers/asgi.py:W505
    django/core/handlers/base.py:W505
    django/core/handlers/wsgi.py:W505
    django/core/mail/message.py:W505
    django/core/management/__init__.py:W505
    django/core/management/commands/diffsettings.py:W505
    django/core/management/commands/dumpdata.py:W505
    django/core/management/commands/flush.py:W505
    django/core/management/commands/inspectdb.py:W505
    django/core/management/commands/makemessages.py:W505
    django/core/management/commands/makemigrations.py:W505
    django/core/management/commands/migrate.py:W505
    django/core/management/commands/shell.py:W505
    django/core/management/commands/sqlmigrate.py:W505
    django/core/paginator.py:W505
    django/core/serializers/__init__.py:W505
    django/core/serializers/base.py:W505
    django/core/serializers/python.py:W505
    django/core/serializers/pyyaml.py:W505
    django/core/serializers/xml_serializer.py:W505
    django/core/servers/basehttp.py:W505
    django/core/signing.py:W505
    django/db/backends/base/base.py:W505
    django/db/backends/base/creation.py:W505
    django/db/backends/base/features.py:W505
    django/db/backends/base/introspection.py:W505
    django/db/backends/base/operations.py:W505
    django/db/backends/base/schema.py:W505
    django/db/backends/dummy/base.py:W505
    django/db/backends/mysql/base.py:W505
    django/db/backends/mysql/features.py:W505
    django/db/backends/mysql/introspection.py:W505
    django/db/backends/mysql/operations.py:W505
    django/db/backends/oracle/base.py:W505
    django/db/backends/oracle/creation.py:W505
    django/db/backends/oracle/introspection.py:W505
    django/db/backends/oracle/operations.py:W505
    django/db/backends/oracle/schema.py:W505
    django/db/backends/postgresql/base.py:W505
    django/db/backends/postgresql/introspection.py:W505
    django/db/backends/postgresql/operations.py:W505
    django/db/backends/sqlite3/base.py:W505
    django/db/backends/sqlite3/schema.py:W505
    django/db/migrations/autodetector.py:W505
    django/db/migrations/executor.py:W505
    django/db/migrations/graph.py:W505
    django/db/migrations/loader.py:W505
    django/db/migrations/operations/special.py:W505
    django/db/migrations/serializer.py:W505
    django/db/migrations/state.py:W505
    django/db/migrations/writer.py:W505
    django/db/models/aggregates.py:W505
    django/db/models/base.py:W505
    django/db/models/constraints.py:W505
    django/db/models/deletion.py:W505
    django/db/models/expressions.py:W505
    django/db/models/fields/__init__.py:W505
    django/db/models/fields/files.py:W505
    django/db/models/fields/related.py:W505
    django/db/models/fields/related_descriptors.py:W505
    django/db/models/fields/related_lookups.py:W505
    django/db/models/fields/tuple_lookups.py:W505
    django/db/models/functions/datetime.py:W505
    django/db/models/functions/json.py:W505
    django/db/models/functions/text.py:W505
    django/db/models/options.py:W505
    django/db/models/query.py:W505
    django/db/models/query_utils.py:W505
    django/db/models/sql/compiler.py:W505
    django/db/models/sql/datastructures.py:W505
    django/db/models/sql/query.py:W505
    django/db/models/sql/subqueries.py:W505
    django/db/transaction.py:W505
    django/db/utils.py:W505
    django/dispatch/__init__.py:W505
    django/dispatch/dispatcher.py:W505
    django/forms/boundfield.py:W505
    django/forms/fields.py:W505
    django/forms/forms.py:W505
    django/forms/formsets.py:W505
    django/forms/models.py:W505
    django/forms/widgets.py:W505
    django/http/multipartparser.py:W505
    django/http/request.py:W505
    django/http/response.py:W505
    django/middleware/cache.py:W505
    django/middleware/csrf.py:W505
    django/middleware/http.py:W505
    django/template/base.py:W505
    django/template/context.py:W505
    django/template/context_processors.py:W505
    django/template/defaultfilters.py:W505
    django/template/defaulttags.py:W505
    django/template/library.py:W505
    django/template/loader_tags.py:W505
    django/template/smartif.py:W505
    django/test/client.py:W505
    django/test/selenium.py:W505
    django/test/testcases.py:W505
    django/test/utils.py:W505
    django/urls/resolvers.py:W505
    django/urls/utils.py:W505
    django/utils/_os.py:W505
    django/utils/autoreload.py:W505
    django/utils/cache.py:W505
    django/utils/csp.py:W505
    django/utils/datastructures.py:W505
    django/utils/dateformat.py:W505
    django/utils/decorators.py:W505
    django/utils/feedgenerator.py:W505
    django/utils/html.py:W505
    django/utils/http.py:W505
    django/utils/module_loading.py:W505
    django/utils/termcolors.py:W505
    django/utils/timesince.py:W505
    django/utils/translation/trans_real.py:W505
    django/utils/xmlutils.py:W505
    django/views/debug.py:W505
    django/views/decorators/debug.py:W505
    django/views/generic/dates.py:W505
    django/views/generic/detail.py:W505
    django/views/i18n.py:W505
    scripts/manage_translations.py:W505
    tests/admin_changelist/tests.py:W505
    tests/admin_checks/tests.py:W505
    tests/admin_filters/tests.py:W505
    tests/admin_inlines/tests.py:W505
    tests/admin_scripts/tests.py:W505
    tests/admin_utils/test_logentry.py:W505
    tests/admin_utils/tests.py:W505
    tests/admin_views/admin.py:W505
    tests/admin_views/test_adminsite.py:W505
    tests/admin_views/test_skip_link_to_content.py:W505
    tests/admin_views/tests.py:W505
    tests/admin_widgets/tests.py:W505
    tests/aggregation/tests.py:W505
    tests/aggregation_regress/tests.py:W505
    tests/annotations/tests.py:W505
    tests/apps/tests.py:W505
    tests/auth_tests/test_auth_backends.py:W505
    tests/auth_tests/test_basic.py:W505
    tests/auth_tests/test_context_processors.py:W505
    tests/auth_tests/test_forms.py:W505
    tests/auth_tests/test_hashers.py:W505
    tests/auth_tests/test_management.py:W505
    tests/auth_tests/test_remote_user.py:W505
    tests/auth_tests/test_validators.py:W505
    tests/auth_tests/test_views.py:W505
    tests/backends/base/test_schema.py:W505
    tests/backends/postgresql/tests.py:W505
    tests/backends/tests.py:W505
    tests/basic/tests.py:W505
    tests/cache/tests.py:W505
    tests/check_framework/test_security.py:W505
    tests/check_framework/test_urls.py:W505
    tests/contenttypes_tests/test_fields.py:W505
    tests/contenttypes_tests/test_views.py:W505
    tests/csrf_tests/tests.py:W505
    tests/custom_lookups/tests.py:W505
    tests/custom_managers/tests.py:W505
    tests/datatypes/tests.py:W505
    tests/decorators/tests.py:W505
    tests/defer/tests.py:W505
    tests/defer_regress/tests.py:W505
    tests/delete/tests.py:W505
    tests/dispatch/tests.py:W505
    tests/expressions_window/tests.py:W505
    tests/extra_regress/tests.py:W505
    tests/field_deconstruction/tests.py:W505
    tests/file_storage/tests.py:W505
    tests/file_uploads/tests.py:W505
    tests/file_uploads/views.py:W505
    tests/files/tests.py:W505
    tests/fixtures/tests.py:W505
    tests/fixtures_regress/tests.py:W505
    tests/flatpages_tests/test_csrf.py:W505
    tests/flatpages_tests/test_middleware.py:W505
    tests/flatpages_tests/test_templatetags.py:W505
    tests/foreign_object/models/article.py:W505
    tests/foreign_object/tests.py:W505
    tests/forms_tests/field_tests/test_booleanfield.py:W505
    tests/forms_tests/field_tests/test_charfield.py:W505
    tests/forms_tests/field_tests/test_datefield.py:W505
    tests/forms_tests/field_tests/test_filefield.py:W505
    tests/forms_tests/field_tests/test_typedchoicefield.py:W505
    tests/forms_tests/field_tests/test_typedmultiplechoicefield.py:W505
    tests/forms_tests/tests/test_forms.py:W505
    tests/forms_tests/tests/test_formsets.py:W505
    tests/forms_tests/tests/test_input_formats.py:W505
    tests/forms_tests/tests/test_media.py:W505
    tests/forms_tests/tests/tests.py:W505
    tests/forms_tests/widget_tests/base.py:W505
    tests/generic_relations/tests.py:W505
    tests/generic_relations_regress/tests.py:W505
    tests/generic_views/test_base.py:W505
    tests/generic_views/test_dates.py:W505
    tests/generic_views/test_list.py:W505
    tests/get_earliest_or_latest/tests.py:W505
    tests/get_or_create/tests.py:W505
    tests/gis_tests/distapp/tests.py:W505
    tests/gis_tests/gdal_tests/test_ds.py:W505
    tests/gis_tests/gdal_tests/test_envelope.py:W505
    tests/gis_tests/gdal_tests/test_geom.py:W505
    tests/gis_tests/gdal_tests/test_raster.py:W505
    tests/gis_tests/gdal_tests/test_srs.py:W505
    tests/gis_tests/geo3d/tests.py:W505
    tests/gis_tests/geoapp/test_feeds.py:W505
    tests/gis_tests/geoapp/test_functions.py:W505
    tests/gis_tests/geoapp/test_regress.py:W505
    tests/gis_tests/geoapp/tests.py:W505
    tests/gis_tests/geogapp/tests.py:W505
    tests/gis_tests/geos_tests/test_geos.py:W505
    tests/gis_tests/inspectapp/tests.py:W505
    tests/gis_tests/layermap/tests.py:W505
    tests/gis_tests/relatedapp/tests.py:W505
    tests/gis_tests/test_geoforms.py:W505
    tests/gis_tests/test_ptr.py:W505
    tests/gis_tests/test_spatialrefsys.py:W505
    tests/handlers/tests.py:W505
    tests/httpwrappers/tests.py:W505
    tests/humanize_tests/tests.py:W505
    tests/i18n/sampleproject/update_catalogs.py:W505
    tests/i18n/test_compilation.py:W505
    tests/i18n/test_extraction.py:W505
    tests/i18n/tests.py:W505
    tests/inline_formsets/tests.py:W505
    tests/inspectdb/tests.py:W505
    tests/introspection/tests.py:W505
    tests/lookup/tests.py:W505
    tests/m2m_regress/models.py:W505
    tests/m2m_through/tests.py:W505
    tests/mail/tests.py:W505
    tests/many_to_many/tests.py:W505
    tests/many_to_one/tests.py:W505
    tests/many_to_one_null/tests.py:W505
    tests/messages_tests/test_cookie.py:W505
    tests/middleware/test_csp.py:W505
    tests/middleware/test_security.py:W505
    tests/migrations/test_autodetector.py:W505
    tests/migrations/test_base.py:W505
    tests/migrations/test_commands.py:W505
    tests/migrations/test_executor.py:W505
    tests/migrations/test_loader.py:W505
    tests/migrations/test_operations.py:W505
    tests/migrations/test_state.py:W505
    tests/model_forms/test_modelchoicefield.py:W505
    tests/model_forms/tests.py:W505
    tests/model_formsets/models.py:W505
    tests/model_formsets/tests.py:W505
    tests/model_formsets_regress/tests.py:W505
    tests/model_inheritance/test_abstract_inheritance.py:W505
    tests/model_inheritance/tests.py:W505
    tests/model_inheritance_regress/tests.py:W505
    tests/model_meta/tests.py:W505
    tests/modeladmin/test_checks.py:W505
    tests/modeladmin/tests.py:W505
    tests/multiple_database/tests.py:W505
    tests/nested_foreign_keys/tests.py:W505
    tests/null_fk/tests.py:W505
    tests/null_fk_ordering/tests.py:W505
    tests/one_to_one/tests.py:W505
    tests/order_with_respect_to/base_tests.py:W505
    tests/pagination/tests.py:W505
    tests/postgres_tests/test_array.py:W505
    tests/postgres_tests/test_search.py:W505
    tests/prefetch_related/test_uuid.py:W505
    tests/prefetch_related/tests.py:W505
    tests/proxy_model_inheritance/tests.py:W505
    tests/proxy_models/models.py:W505
    tests/queries/tests.py:W505
    tests/queryset_pickle/tests.py:W505
    tests/requests_tests/test_accept_header.py:W505
    tests/requests_tests/tests.py:W505
    tests/runtests.py:W505
    tests/schema/fields.py:W505
    tests/schema/tests.py:W505
    tests/select_for_update/tests.py:W505
    tests/select_related_regress/tests.py:W505
    tests/serializers/test_data.py:W505
    tests/serializers/test_json.py:W505
    tests/serializers/tests.py:W505
    tests/servers/tests.py:W505
    tests/sessions_tests/tests.py:W505
    tests/settings_tests/tests.py:W505
    tests/signals/tests.py:W505
    tests/sites_tests/tests.py:W505
    tests/staticfiles_tests/test_management.py:W505
    tests/staticfiles_tests/test_storage.py:W505
    tests/string_lookup/tests.py:W505
    tests/syndication_tests/tests.py:W505
    tests/template_tests/filter_tests/test_urlize.py:W505
    tests/template_tests/syntax_tests/i18n/test_blocktranslate.py:W505
    tests/template_tests/syntax_tests/test_if_changed.py:W505
    tests/template_tests/templatetags/custom.py:W505
    tests/template_tests/test_custom.py:W505
    tests/test_client/tests.py:W505
    tests/test_client_regress/tests.py:W505
    tests/test_client_regress/views.py:W505
    tests/test_runner/test_discover_runner.py:W505
    tests/test_runner/tests.py:W505
    tests/test_runner_apps/sample/tests_sample.py:W505
    tests/timezones/tests.py:W505
    tests/transactions/tests.py:W505
    tests/unmanaged_models/tests.py:W505
    tests/update/tests.py:W505
    tests/urlpatterns_reverse/tests.py:W505
    tests/user_commands/tests.py:W505
    tests/utils_tests/test_csp.py:W505
    tests/utils_tests/test_dateformat.py:W505
    tests/utils_tests/test_decorators.py:W505
    tests/utils_tests/test_functional.py:W505
    tests/utils_tests/test_html.py:W505
    tests/utils_tests/test_lorem_ipsum.py:W505
    tests/utils_tests/test_timesince.py:W505
    tests/view_tests/tests/test_debug.py:W505
    tests/view_tests/tests/test_i18n.py:W505
    tests/view_tests/tests/test_static.py:W505
    tests/view_tests/views.py:W505
