*.egg-info
dist/
build/
docs/_build
__pycache__/
*.sqlite3
.tox/
*.swp
*.pyc
.coverage.*
# Coverage combine and html output.
.coverage
coverage_html/
TODO
node_modules
.python-version

# IDE and Tooling files
.idea/*
*~
