repos:
  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.1
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.30.0
    hooks:
      - id: eslint
