include README.rst
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include freedom/contrib/gis/gdal/LICENSE
include freedom/contrib/gis/geos/LICENSE
include freedom/dispatch/license.txt
include freedom/dispatch/license.python.txt
recursive-include docs *
recursive-include scripts *
recursive-include extras *
recursive-include tests *
recursive-include freedom/conf/app_template *
recursive-include freedom/conf/locale *
recursive-include freedom/conf/project_template *
recursive-include freedom/contrib/*/locale *
recursive-include freedom/contrib/admin/templates *
recursive-include freedom/contrib/admin/static *
recursive-include freedom/contrib/admindocs/templates *
recursive-include freedom/contrib/auth/fixtures *
recursive-include freedom/contrib/auth/templates *
recursive-include freedom/contrib/auth/tests/templates *
recursive-include freedom/contrib/formtools/templates *
recursive-include freedom/contrib/formtools/tests/templates *
recursive-include freedom/contrib/flatpages/fixtures *
recursive-include freedom/contrib/flatpages/tests/templates *
recursive-include freedom/contrib/gis/static *
recursive-include freedom/contrib/gis/templates *
recursive-include freedom/contrib/gis/tests/data *
recursive-include freedom/contrib/gis/tests/distapp/fixtures *
recursive-include freedom/contrib/gis/tests/geoapp/fixtures *
recursive-include freedom/contrib/gis/tests/geogapp/fixtures *
recursive-include freedom/contrib/gis/tests/relatedapp/fixtures *
recursive-include freedom/contrib/sitemaps/templates *
recursive-include freedom/contrib/sitemaps/tests/templates *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
