[run]
branch = True
concurrency = multiprocessing,thread
data_file = .coverages/.coverage
omit =
    */django/utils/autoreload.py
source = django

[report]
ignore_errors = True
omit =
    */django/conf/locale/*
    */tests/*

[html]
directory = coverage_html
