[run]
omit = */freedom/contrib/*/tests*,*/freedom/utils/unittest*,*/freedom/utils/importlib.py,*/freedom/test/_doctest.py,*/freedom/core/servers/fastcgi.py,*/freedom/utils/autoreload.py,*/freedom/utils/dictconfig.py

[report]
ignore_errors = True

[html]
directory = coverage_html
