.dj_map_wrapper {
    position: relative;
    float: inline-start;
}

.switch-type {
    background-repeat: no-repeat;
    cursor: pointer;
    top: 0.5em;
    width: 22px;
    height: 20px;
}

.type-Point {
    background-image: url("../img/draw_point_off.svg");
    inset-inline-end: 5px;
}
.type-Point.type-active {
    background-image: url("../img/draw_point_on.svg");
}

.type-LineString {
    background-image: url("../img/draw_line_off.svg");
    inset-inline-end: 30px;
}
.type-LineString.type-active {
    background-image: url("../img/draw_line_on.svg");
}

.type-Polygon {
    background-image: url("../img/draw_polygon_off.svg");
    inset-inline-end: 55px;
}
.type-Polygon.type-active {
    background-image: url("../img/draw_polygon_on.svg");
}
