.switch-type {
    background-repeat: no-repeat;
    cursor: pointer;
    top: 0.5em;
    width: 22px;
    height: 20px;
}

.type-Point {
    background-image: url("../img/draw_point_off.png");
    right: 5px;
}
.type-Point.type-active {
    background-image: url("../img/draw_point_on.png");
}

.type-LineString {
    background-image: url("../img/draw_line_off.png");
    right: 30px;
}
.type-LineString.type-active {
    background-image: url("../img/draw_line_on.png");
}

.type-Polygon {
    background-image: url("../img/draw_polygon_off.png");
    right: 55px;
}
.type-Polygon.type-active {
    background-image: url("../img/draw_polygon_on.png");
}
