{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block nav-breadcrumbs %}
  <nav aria-label="{% translate 'Breadcrumbs' %}">
    <ul class="breadcrumbs">
      <li><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></li>
      &rsaquo; <li><a href="" aira-current="page">
      {% for app in app_list %}{{ app.name }}
      {% endfor %}
      </a></li>
    </ul>
  </nav>
{% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
