{% load i18n %}

{% if app_list %}
  {% for app in app_list %}
    <div class="app-{{ app.app_label }} module{% if app.app_url in request.path|urlencode %} current-app{% endif %}">
      <h2>
        <a href="{{ app.app_url }}" class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
      </h2>
      
      <ul>
        {% for model in app.models %}
          {% with model_name=model.object_name|lower %}
            <li class="model-{{ model_name }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}" id="{{ app.app_label }}-{{ model_name }}">
              {% if model.admin_url %}
                <a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %} class="model-name">{{ model.name }}</a>
              {% else %}
                <span class="model-name">{{ model.name }}</span>
              {% endif %}
              {# Action Links Container #}
              <div class="model-actions">
                {% if model.add_url %}  
                  <a href="{{ model.add_url }}" class="addlink" aria-describedby="{{ app.app_label }}-{{ model_name }}">{% translate 'Add' %}</a>
                {% endif %}

                {% if model.admin_url and show_changelinks %}
                  {% if model.view_only %}
                    <a href="{{ model.admin_url }}" class="viewlink" aria-describedby="{{ app.app_label }}-{{ model_name }}">{% translate 'View' %}</a>
                  {% else %}
                    <a href="{{ model.admin_url }}" class="changelink" aria-describedby="{{ app.app_label }}-{{ model_name }}">{% translate 'Change' %}</a>
                  {% endif %}
                {% endif %}
              </div>
            </li>
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}