{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0;
            const macHint = 'Command + ';
            const windowsHint = 'Ctrl + ';

            function setButtonHint(selector, hint) {
                const button = document.querySelector(selector);
                if (button) {
                    button.setAttribute('title', hint);
                }
            }

            // Set hints for buttons based on the OS
            continue_selector = 'input[name="_continue"]'
            save_selector = 'input[name="_save"]'
            addanother_selector = 'input[name="_addanother"]'


            setButtonHint(continue_selector, (isMac ? macHint : windowsHint) + 'S');
            setButtonHint(save_selector, (isMac ? macHint : windowsHint) + 'Shift + S');
            setButtonHint(addanother_selector, (isMac ? macHint : windowsHint) + 'Alt + S');

            document.addEventListener('keydown', function(event) {
                function clickIfExistsButton(selector) {
                    const button = document.querySelector(selector);
                    if (button) {
                        button.click();
                        return true;
                    }
                    return false;
                }

                // Save and continue editing on Command + S (Ctrl + S)
                if ((event.ctrlKey || event.metaKey) && !event.shiftKey && !event.altKey && event.key === 's') {
                    event.preventDefault();
                    if(clickIfExistsButton(continue_selector)) {
                        return false;
                    }
                }
                // Save on Command + Shift + S (Ctrl + Shift + S)
                if ((event.ctrlKey || event.metaKey) && event.shiftKey && !event.altKey && event.key === 's') {
                    event.preventDefault();
                    if(clickIfExistsButton(save_selector)) {
                        return false;
                    }
                }
                // Save and add another on Command + Alt + S (Ctrl + Alt + S)
                if ((event.ctrlKey || event.metaKey) && !event.shiftKey && event.altKey && event.key === 's') {
                    event.preventDefault();
                    if(clickIfExistsButton(addanother_selector)) {
                        return false;
                    }
                }
            });
        });
    </script>
{% endblock %}
