{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header }}</a></h1>
{% endblock %}

{% block welcome-msg %}
    {% trans 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}

{% block userlinks %}
    {% url 'home' as homeroot %}
    {% if homeroot %}
    <a href="{{ homeroot }}">{{ site_title }}</a> /
    {% endif %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block nav-global %}{% endblock %}
