{% if show %}
<nav class="toplinks">
{% block date-hierarchy-toplinks %}
{% block date-hierarchy-back %}
{% if back %}<a href="{% querystring filter_params back.link %}" class="date-back">&lsaquo; {{ back.title }}</a>{% endif %}
{% endblock %}
{% block date-hierarchy-choices %}
{% for choice in choices %}
{% if choice.link %}<a href="{% querystring filter_params choice.link %}">{{ choice.title }}</a>{% else %}{{ choice.title }}{% endif %}
{% endfor %}
{% endblock %}
{% endblock %}
</nav>
{% endif %}
