{% extends "admin/shortcuts.html" %}
{% load i18n %}

{% block extra_shortcuts %}
  {{ block.super }}
  <section>
    <h3>{% translate "Delete Confirmation" %}</h3>
    <ul>
      <li>
        <div class="shortcut-description">{% translate "Confirm deletion" %}</div>
        <div class="shortcut-keys"><kbd class="alt">Alt</kbd> + <kbd>y</kbd></div>
      </li>
      <li>
        <div class="shortcut-description">{% translate "Cancel deletion" %}</div>
        <div class="shortcut-keys"><kbd class="alt">Alt</kbd> + <kbd>n</kbd></div>
      </li>
    </ul>
  </section>
{% endblock %}
