{{ bound_inline.formset.management_form }}
{% for bound_inline_object in bound_inline %}
<fieldset class="module aligned {{ bfset.fieldset.classes }}">
  <h2>{{ bound_inline.verbose_name|title }}&nbsp;#{{ forloop.counter }}</h2>
  {% for bfset in bound_inline_object.form %}
      {% if bfset.fieldset.name %}<h2>{{ bfset.fieldset.name }}</h2>{% endif %}
      {% if bfset.fieldset.description %}<div class="description">{{ bfset.fieldset.description }}</div>{% endif %}
      {% for line in bfset %}
          <div class="form-row{% if line.errors %} errors{% endif %}">
          {{ line.errors }}
          {% for field in line %}
              {% if field.is_checkbox %}
                  {{ field.field }}{{ field.label_tag }}
              {% else %}
                  {{ field.label_tag }}{{ field.field }}
              {% endif %}
              {% if field.field.field.help_text %}<p class="help">{{ field.field.field.help_text }}</p>{% endif %}
          {% endfor %}
          </div>
      {% endfor %}
      {{ bound_inline_object.pk_field.field }}
      {% if bound_inline.formset.deletable %}<div class="form-row">{{ bound_inline_object.deletion_field.field }} {{ bound_inline_object.deletion_field.label_tag }}</div>{% endif %}
  {% endfor %}
</fieldset>
{% endfor %}

{% comment %}
<!-- Old forms. Here for reference until new forms match features -->

{% load admin_modify %}
<fieldset class="module aligned">
   {% for fcw in bound_related_object.form_field_collection_wrappers %}
      <h2>{{ bound_related_object.relation.opts.verbose_name|capfirst|escape }}&nbsp;#{{ forloop.counter }}</h2>
      {% if bound_related_object.show_url %}{% if fcw.obj.original %}
      <p><a href="/r/{{ fcw.obj.original.content_type_id }}/{{ fcw.obj.original.id }}/">View on site</a></p>
      {% endif %}{% endif %}
      {% for bound_field in fcw.bound_fields %}
         {% if bound_field.hidden %}
            {% field_widget bound_field %}
         {% else %}
            {% admin_field_line bound_field %}
         {% endif %}
      {% endfor %}
    {% endfor %}
</fieldset>
{% endcomment %}