{% load i18n %}

{% with field=title.split|join:"_" %}
<a href="#" data-toggle="{{ field }}">
    <h3>
        <div data-expanded="{{ field }}">-</div>
        <div data-collapsed="{{ field }}">+</div>
        {% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}
    </h3>
</a>
<ul>
    <div data-target="{{ field }}">
    {% for choice in choices %}
        <li{% if choice.selected %} class="selected"{% endif %}>
        <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
    {% endfor %}
    </div>
</ul>
{% endwith %}
