{% load i18n %}

<a href="#" data-toggle="{{ lookup_kwarg }}">
    <h3>
        <div data-expanded="{{ lookup_kwarg }}">-</div>
        <div data-collapsed="{{ lookup_kwarg }}">+</div>
        {% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}
    </h3>
</a>
<ul data-target="{{ lookup_kwarg }}">
    {% for choice in choices %}
        <li{% if choice.selected %} class="selected"{% endif %}>
        <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
    {% endfor %}
</ul>
