{% extends "admin/base_site" %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<form action="{{ app_path }}" method="post">

<p class="aligned">
<label for="id_username">{{ _('Username:') }}</label> <input type="text" name="username" id="id_username" />
</p>
<p class="aligned">
<label for="id_password">{{ _('Password:') }}</label> <input type="password" name="password" id="id_password" />
<input type="hidden" name="this_is_the_login_form" value="1" />
<input type="hidden" name="post_data" value="{{ post_data }}" />{% comment %} <span class="help">{{ _('Have you <a href="/password_reset/">forgotten your password</a>?') }}</span>{% endcomment %}
</p>

<div class="aligned ">
<label>&nbsp;</label><input type="submit" value="{{ _('Log in') }}" />
</div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
