{% load admin_list %}
{% load i18n %}
<nav class="paginator" aria-labelledby="pagination">
    <h2 id="pagination" class="visually-hidden">{% blocktranslate with name=pagination.opts.verbose_name_plural %}Pagination {{ name }}{% endblocktranslate %}</h2>
    {% if pagination_required %}
    <ul>
    {% for i in page_range %}
        <li>{% paginator_number pagination i %}</li>
    {% endfor %}
    </ul>
    {% endif %}
{{ pagination.result_count }} {% if pagination.result_count == 1 %}{{ pagination.opts.verbose_name }}{% else %}{{ pagination.opts.verbose_name_plural }}{% endif %}
{% if show_all_url %}<a href="{% querystring pagination.params show_all_url %}" class="showall">{% translate 'Show all' %}</a>{% endif %}
</nav>
