{% load i18n admin_modify %}

{% include_admin_script "js/row_level_permission.js" %}


<h1>{% trans "Row Level Permissions" %}</h1>
<div id="rlpResults">
</div>
<h2>{% trans "Add Permissions" %}</h2>
<form id="addRLPForm" method="POST" name="addRLPForm" action="../../../auth/row_level_permission/add/{{ content_type_id }}/{{ object_id }}/">
<table id="add-rlpTable">
<tr class="header">
<th>
{% trans "Owner" %}
</th>
<th>
{% trans "Permission" %}
</th>
<th>
{% trans "Negative" %}
</th>
<th>
{% trans "Options" %}
</th>
</tr>
<TBODY>
<tr>
<td>
<p>
    {{ new_rlp_form.owner }}
</p>
</td>
<td>
<p>
    {{ new_rlp_form.perm }}
</p>
</td>
<td>
<p>
    {{ new_rlp_form.negative }}
</p>
</td>
<td>
<input id="addButton" type="submit" value="{% trans 'Add' %}" />
</td>
</tr>
</table>
</form>

<h2>{% trans "Current Permissions" %}</h2>
<table id="current-rlpTable">
<tr class="header">
	<th id="select_header"></th>
<th id="owner_header">
{% trans "Owner" %}
</th>
<th id="perm_header">
{% trans "Permission" %}
</th>
<th id="negative_header">
{% trans "Negative" %}
</th>
<th id="options_header">
{% trans "Options" %}
</th>
</tr>
<TBODY>
{% if rlp_form_list %}
{% load row_level_permission %}
{% for o in rlp_form_list %}
<tr id="editRLP-{{ o.rlp.id }}">
<!--<td colspan="5">-->
<form id="editRLPForm-{{ o.rlp.id }}" class="editRLPForm" method="POST" name="editRLPForm-{{ o.rlp.id }}"  action="../../../auth/row_level_permission/{% objref o.rlp %}/change/">
<!--<table>
<tr>-->
	<td>
		<input type="checkbox" name="apply_checkbox">
	</td>
	<td>
		{{ o.form.owner }}
	</td>
	<td>
		{{ o.form.perm }}
	</td>
	<td>
		{{ o.form.negative }}
	</td>
	<td>
		<input id="applyButton-{{ o.rlp.id }}" type="submit" value="{% trans 'Apply' %}" />
		<input id="cancelButton-{{ o.rlp.id }}" type="reset" value="{% trans 'Reset' %}"/>
		<br/>
		<!--<a href="../../../auth/row_level_permission/{% objref o.rlp %}/delete/" class="deleteLink" onclick="row_level_permission.deleteRLP('{% objref o.rlp %}'); return false;">{% trans 'Delete' %}</a> |-->
		<a href="../../../auth/row_level_permission/{% objref o.rlp %}/delete/" class="deleteLink">{% trans 'Delete' %}</a> | 
		<a href="javascript:row_level_permission.copyToNew({{ o.rlp.id }})" class="copyToNewLink">{% trans 'Copy to New' %}</a>
	</td>	
<!--</tr>
</table>-->
</form>
</td>
</tr>
{% endfor %}
<tr align="right">
	<td colspan="5">
		<form id="apply_selected_form" method="POST" name="apply_selected_form"  onsubmit="row_level_permission.apply_selected(); return false;">
			<input id="apply_selected_button" type="submit" value="{% trans 'Apply Selected' %}" />
		</form>
	</td>
</tr>
{% else %}
<tr><td colspan=4><em>No row level permissions</em></td></tr>
{% endif %}
</TBODY>
</table>