// ============= DEV PURPOSES
.lilac {background: lavender;}
.papayawhip {background: papayawhip;}
.gray {background: gray;}

// FIGURE OUT THE CORRECT SPACING FOR EACH PROJECT CARD AND FIGURE OUT THE CORRECT PROJECT IMAGE
.bit-3:nth-child(3n-1) .project-tile {
  // background: lavender;
  padding-left:0.625rem;padding-right:0.625rem;}
.bit-3:nth-child(3n+1) .project-tile {
  // background: papayawhip;
  padding-right:1.25rem;}
.bit-3:nth-child(3n) .project-tile {
  // background: gray;
  padding-left:1.25rem;padding-right: 0 !important;}


// ============= VARIABLES
$white: #fff;
$gray: #E8E8E8;
$dark-gray: #999;
$black: #000;
$dark-blue: #042873;
$purple-blue: #4422F0;
$blue: #1F51F3;
$perwinkle: #DDE8FC;
$dusty-blue: #A1B0CF;
$sand: #FFE7D1;

$freight-font: "FreightTextBold-Regular", serif;
$ibm-plex-font:  "IBM Plex Sans", sans-serif;

$gradient: linear-gradient(33deg, #3C23E0 0%, $purple-blue 50%, #0372F4 100%);
$gradient-alt: linear-gradient(33deg, $dark-blue 0%, $purple-blue 50%, $blue 100%);

$slow: all 1s ease;
$fast: all 0.1s ease;

.gradient {
  background-image: $gradient;
  background-clip: text;
  text-fill-color: transparent;
  font-family: $freight-font;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
h1, h2, h3 {color: $dark-blue;}
h1, .h1 {font-size: 72px; line-height: 80px;}
h2 {font-size: 48px; line-height: normal;}
h3, .logo {font-size: 24px; line-height: 28px;}

p, a, span {
    font-family: $ibm-plex-font;
    font-size: 24px;
    line-height: 36px;
    transition: $fast;

    &.sm {
        font-size: 18px;
        line-height: 24px;
    }
}
h1, h2, .freight-text {font-family: $freight-font;}
.ibm-plex {font-family: $ibm-plex-font;}

body {margin: 0 auto;}


// ============= Specifics
  // LOGO
    h1.logo {
      margin-top: 1rem; margin-bottom: 3rem;
      a {
        color: $dark-gray;
        &:hover {color: $dark-blue;}
        span {font-size: 1.5rem; font-family: $freight-font;}
      }
    }
   // HOME - INDEX
     .img.avatar img {margin-bottom: 1rem; width: 120px; height: 120px;}
     .intro p {color: $dark-blue;}
   // HOME - PROJECT THUMBS
     .project-tile {
       display: block;
       text-decoration: none;
       margin-bottom: 2rem;
    }
    a { text-decoration: none;
      h3 {
        line-height: 0;
        display: inline;
        position: relative;
        color: $black;
        font-weight: 300;
        box-shadow: 0 10px 0 $perwinkle;
        top: -15px;
         &:hover {
           color: $blue;
         }
        //  &::after {
        //    content: '';
        //    height: 10px;
        //    width: 300px;
        //   //  background: red;
        //    display: block;
        //    position: relative;
        //  }
       }
       .details {color: $dark-gray; display: block;}
     }
      span.line {
        position: relative;
        top: 12px;
      // display: inline;
      // box-shadow: 0 7px 0 $perwinkle;bottom: -3rem;
      //  border-bottom: 10px solid $perwinkle;
    }

   // FOOTER
     .thank-you .sm {
       color: $blue;
       display: block;
       text-decoration: none;
       i {margin-right: 0.4rem;}
     }
   // SPACING
     .post-intro .bit-75 p {padding-right: 1rem;}
     .works {margin-top: 5rem;}
   // WIDTHS
     .footer {max-width: 680px; margin: 0 auto;}


// ============= HELPER classes
.block {display: block !important;}
.inline-block {display: inline-block;}
.inline {display: inline;}
.hide {display: none !important;}
.img {
  &.circle {border-radius: 50rem;}
  &.thumb img {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  &.illo img { width: 170px; height: auto; display: block;}
}
.flex { display: flex;
  &.row {flex-direction: row;}
  &.align-center {align-items: center;}
}
.talign {
  &.left {text-align: left;}
  &.right {text-align: right;}
  &.center {text-align: center;}
}


// ============= MEDIA QUERIES
/** Large Desktop ------------ **/
@media (min-width: 1440px), (min-device-width: 1440px) {
	body {
    max-width: 1164px;
  }
}

@media (min-width: 935px) and (max-width: 1440px), (min-device-width: 935px) and (max-device-width-width: 1440px){
	body {
    max-width: 935px;
  }
}
