// ============= DEV PURPOSES
.lilac {background: lavender;}
.papayawhip {background: papayawhip;}
.gray {background: gray;}

// FIGURE OUT THE CORRECT SPACING FOR EACH PROJECT CARD AND FIGURE OUT THE CORRECT PROJECT IMAGE
.bit-3:nth-child(3n-1) .project-tile { padding-left:0.625rem;padding-right:0.625rem;}
.bit-3:nth-child(3n+1) .project-tile { padding-right:1.25rem;}
.bit-3:nth-child(3n) .project-tile { padding-left:1.25rem;padding-right: 0 !important;}


// ============= VARIABLES
$white: #fff;
$gray: #E8E8E8;
$dark-gray: #777;
$black: #000;
$dark-blue: #042873;
$purple-blue: #4422F0;
$active-blue: #0372F4;
$blue: #1F51F3;
$periwinkle: #DDE8FC;
$dusty-blue: #A1B0CF;
$sand: #FFE7D1;

$freight-font: "FreightTextBold-Regular", serif;
$ibm-plex-font:  "IBM Plex Sans", sans-serif;

$gradient: linear-gradient(33deg, #3C23E0 0%, $purple-blue 50%, #0372F4 100%);
$gradient-alt: linear-gradient(33deg, $dark-blue 0%, $purple-blue 50%, $blue 100%);
$gradient-light: linear-gradient(33deg, #E3DEFD 0%, #D9EAFD 100%);
$gradient-fake: linear-gradient(33deg, $dark-blue 0%, $dark-blue 100%);

$slow: all 0.5s ease-in;
$fast: all 0.2s ease-in;
$v-fast: all 0.1s ease-in;

.gradient {
  background-image: $gradient;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
h1, h2, h3 {color: $dark-blue;}
h1, .h1 {font-size: 7.2rem; line-height: 8rem;}
h2, .h2 {font-size: 4.8rem; line-height: normal;}
h3, .h3, .logo, q {font-size: 2.4rem; line-height: 2.8rem;}

p, a, span {
  font-family: $ibm-plex-font;
  font-size: 2.4rem;
  line-height: 3.6rem;

  &.sm {
      font-size: 1.8rem;
      line-height: 2.4rem;
  }
  &.label {font-size: 1.6rem;line-height: 2.4rem;text-transform: uppercase;font-weight: bold;margin-bottom: -1.5rem;}
  &.v-sm {font-size:1.6rem;line-height:2.4rem;}
  &.dark-gray {color: $dark-gray;}
  &.gray {color: $gray;}
  &.dark-blue {color: $dark-blue;}
  &.normal {font-weight: normal;}
  &.antialias {font-smooth: antialias;}
  &.caption {color: $dusty-blue;font-size: 1.6rem;line-height: 2.4rem;border-left: 1px solid $dusty-blue;padding-left: 2rem;}
}
h1, h2, .freight-text {font-family: $freight-font;}
h3, .h3, .ibm-plex {font-family: $ibm-plex-font;}

body {margin: 0 auto;}

// ============= Specifics
  // LOGO
    h1.logo {
      margin-top: 1rem; margin-bottom: 3rem;
      a {
        color: $dark-gray;
        &:hover {color: $dark-blue;}
        span {font-size: 2rem; font-family: $freight-font;}
      }
    }
    .p-nav.top {margin-bottom: 5rem;}
    .back-link {
      position: absolute;
      top: -5.5rem;
      left: 0;
    }
   // HOME - INDEX
     .img.avatar img {margin-bottom: 1rem; width: 120px; height: 120px;}
     .intro p {color: $dark-blue;}
    // Hats animation
    .hat-wrap {
      position: relative;
      display: inline;
      width: 3.2rem;
    }
    .hats {
      overflow: hidden;
      height: 2.75rem;
      position: absolute;
      &::before {
        content: '';
        width:30px;
        height: 8px;
        position: absolute;
        top: 0;
        left: 0;
        background-image:
        linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        z-index: 100;
      }
      &::after{
        content: '';
        width:30px;
        height: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image:
        linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        z-index: 100;
      }
      .hat-unit {
        padding: 0;
        margin: 0;
        margin-left: 5px;
        position: relative;
        display: inline-block;
        -webkit-animation: hatswap 5s ease-out infinite;
        animation-delay: 2s;
      }
    }
      @keyframes hatswap {
        0% { opacity: 1; -webkit-transform: translateY(0px);}
        33% { opacity: 1;-webkit-transform: translateY(-40px);}
        66% { opacity: 1;-webkit-transform: translateY(-78px);}
        99.99% { opacity: 1;-webkit-transform: translateY(-109px);}
        100% {opacity: 0; -webkit-transform: translateY(0px);}
      }


   // HOME - PROJECT THUMBS
     a { text-decoration: none;
       h3 {
         line-height: 0;
         display: inline;
         position: relative;
         font-weight: 300;
         border-bottom: 1rem solid #ECF4FE;
         top: 0.125rem;
        }
        .details {color: $dark-gray; display: block;margin-top: 1.5rem;}
      }
     .z-project-tile {
       display: block;
       text-decoration: none;
       margin-bottom: 5rem;
       position: relative;
       transition: all 0.2s ease-out;
       top:0;
       h3 {font-weight: 400;color: $dark-gray;top: -1rem;margin-top: 2rem;margin-bottom: 0.75rem;}
      }
      .project-tile {
       display: block;
       text-decoration: none;
       margin-bottom: 5rem;
       position: relative;
       transition: all 0.2s ease-out;
       top:0;
       &:hover {
         top: -8px;
         transition: $v-fast;
         h3 {border-bottom-color: #D9EAFD;}
         .line {
           background-image: $gradient;
           background-clip: text;
           text-fill-color: transparent;
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           -moz-background-clip: text;
           -moz-text-fill-color: transparent;
           transition: $fast;
         }
       }
       &:active, &:focus {
         color: $dark-blue
       }
    }
      span.line {
        position: relative;
        top: 12px;
    }
    span.tag {
      background-color: $periwinkle;
      border-radius: 3px;
      color: $dusty-blue;
      display: inline;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 1px;
      padding: .2rem .5rem;
      text-transform: uppercase;
      margin-left: .5rem;
      vertical-align: middle;
    }
    .thumb {
      height: 16.6rem;
      width: 100%;
      display: block;
      background-size: cover;
      background-repeat:no-repeat;
      transition: $fast;
      background: no-repeat center center gray cover;

      &.ro-website {background-image:url("../imgs/th-ro-website.png"); &:hover {background-image:url("../imgs/th-ro-website2.png");}}
      &.ro-ftux {background-image:url("../imgs/th-ro-ftux.png"); &:hover {background-image:url("../imgs/th-ro-ftux2.png");}}
      &.codepen-invite {background-image:url("../imgs/th-codepen-invite.png");opacity: 0.85; &:hover {opacity: 1;}}
      &.codepen-dashboard {background-image:url("../imgs/th-codepen-dashboard.png");opacity: 0.85; &:hover {opacity: 1;}}
      &.rev-design {background-image:url("../imgs/th-rev-design.png"); &:hover {background-image:url("../imgs/th-rev-design2.png");}}
      &.rev-email {background-image:url("../imgs/th-rev-email.png"); &:hover {background-image:url("../imgs/th-rev-email2.png");}}
      &.rev-mktg {background-image:url("../imgs/th-rev-mktg.png"); &:hover {background-image:url("../imgs/th-rev-mktg2.png");}}
      &.print {background-image:url("../imgs/th-print.png");opacity:0.85; &:hover {opacity: 1;}}
      &.portfolio {background-image:url("../imgs/th-portfolio.png");}

    }
  // FOOTER
    .thank-you .sm {
      color: $blue;
      display: block;
      text-decoration: none;
      i {margin-right: 0.4rem;}
     }
     .made-with {margin-top: 7rem;}
  // PROJECT INDIVIDUAL PAGE
    // PROJECT NAV
    .p-nav {
      position: relative;
      display: block;
      border-top: 1px solid $periwinkle;
      top: -1.75rem;
      margin-bottom: 6rem;
      &.top {
      }
      a {
        border-bottom: 1rem solid #ECF4FE;
        transition: $fast;
        display: inline;
        &:hover {
          border-bottom-color: #D9EAFD;
          .line {
            background-image: $gradient;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            transition: $fast;
          }
        }
        span {
          top: 10px; color: $blue;
        }
      }
    }
    // P BODY
      .quote {
        background-image: $gradient;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        border-left: 1px solid $dusty-blue;
        padding: 1rem 5rem;
        .quote-from {margin-top: 1rem;}
      }
      .project-indiv {
        .blurb {margin-bottom: 3rem;}
        .body {
          p, ul, .h3, h3, .goal-text {
            color: $black;
            font-size: 1.8rem;
            line-height: 2.6rem;
          }
          h3 {margin: 0 0 1rem;}
          .h3 {text-decoration: underline;}
          li {list-style-type: none;display: flex;flex-direction: row;margin-bottom: 3rem;align-items: flex-start;}
          .goal-text {color: $dark-gray;}
          .new-section {border-top: 5px solid $periwinkle;padding-top: 5rem;}
        }
      }
      .meta {
        padding-top: 1.25rem;
        p:last-child {margin-top: -1.5rem;}
      }
      .goals-list {margin-bottom: 5rem;}
      .circle-number {
        background: $periwinkle;
        color: $dark-blue;
        border-radius: 3rem;
        padding: .25rem 1rem;
        display: inline-block;
        margin-right: 2rem;
      }
      img, div {
        &.border {border: 1px solid $dusty-blue;}
        &.space {
          &.top {margin-top: 1rem;}
          &.x-top {margin-top: 4rem;}
          &.bottom {margin-bottom: 1rem;}
          &.x-bottom {margin-bottom: 4rem;}
        }
      }

    // BOTTOM NAVIGATION
    .p-nav.bottom {
      border-bottom: 1px solid $periwinkle;
      margin: 6rem 0 0;
      padding: 1.5rem 0 2rem;
      a {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-self: center;
        border: none;
        &.prev-link {justify-content: flex-start;}
        &.next-link {justify-content: flex-end;}
        .p-link {
          color: $dark-blue;
          font-size: 1.25rem;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .p-nav-name {display: inline-block;line-height: 2.25rem;margin: 0 2rem;}
        .line {
          border-bottom: 1rem solid #ECF4FE;
          transition: $fast;
          display: inline;
          top: -1rem;
          color: $blue;
          &:hover {
            border-bottom-color: #D9EAFD;
            .line {
              background-image: $gradient;
              background-clip: text;
              text-fill-color: transparent;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-background-clip: text;
              -moz-text-fill-color: transparent;
              transition: $fast;
            }
          }
        }
        span, div {align-self: center;}
      }
      .six.columns:first-child {border-right: 1px dashed $periwinkle;}
    }
    // RevOps Website Hero Image
      .ro-website-video {
        background-image: url('../imgs/bg_pattern_lite.png');
        background-position: center;
        background-size: cover;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .video-wrap {padding: 2.265rem; background: white;border-radius: 5px;}
      }
  // SPACING
    .post-intro .bit-75 p {padding-right: 1rem;}
    .works.container {margin-top: 6rem;}
  // WIDTHS
    .footer {max-width: 680px; margin: 0 auto;}


// ============= HELPER classes
.block {display: block !important;}
.inline-block {display: inline-block;}
.inline {display: inline;}
.hide {display: none !important;}
.img {
  &.thumb img {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  &.illo img { width: 170px; height: auto; display: block;}
}
.flex { display: flex;
  &.row {flex-direction: row;}
  &.align-center {align-items: center;}
}
.talign {
  &.left {text-align: left;}
  &.right {text-align: right;}
  &.center {text-align: center;}
}
