{% load static %}
<div class="container">
  <div class="row footer">
    <div class="offset-by-one three columns align-center">
      <div class="img illo circle sand">
        <img src="{% static 'projectapp/imgs/Illo-desk.png' %}" alt="A small illustration of Flo's workdesk. It shows a laptop, a small notebook, coffee, and a plant.">
      </div>
    </div>
    <div class="seven columns">
      <div class="thank-you">
        <p>You can find additional works on Dribbble. Thank you for visiting!</p>
        <a href="/" class="sm social"><i class="fa-brands fa-dribbble"></i>Dribbble</a>
        <a href="/" class="sm social"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
        <a href="/" class="sm social"><i class="fa-regular fa-download"></i>Download resume</a>
      </div>
    </div>
  </div>
</div>
