{% load static %}
<div class="container">
  <div class="row footer">
    <div class="offset-by-one three columns align-center">
      <div class="img illo circle">
        <img src="{% static 'projectapp/imgs/Illo-desk.png' %}" alt="A small illustration of Flo's workdesk. It shows a laptop, a small notebook, coffee, and a plant.">
      </div>
    </div>
    <div class="eight columns">
      <div class="thank-you">
        <p>You can find additional works on Dribbble and my profile on LinkedIn. Thank you for visiting!</p>
        <a href="https://dribbble.com/flobot" target="_blank" class="sm social"><i class="fa-brands fa-dribbble"></i>Dribbble</a>
        <a href="https://www.linkedin.com/in/florencetsai/"  target="_blank" class="sm social"><i class="fa-brands fa-linkedin"></i>LinkedIn</a>
      </div>
    </div>
  </div>
  {% include "footer_note.html" %}
</div>
