{% load static %}
<div class="intro container">
  <div class="twelve columns">
    <div class="img avatar block">
      <img src="{% static 'projectapp/imgs/avatar.png' %}" alt="Photo of Florence">
    </div>
    <h2 class="h1 inline gradient">Nice to meet you! </h2>
    <p class="h1 inline freight-text"> I’m Florence – a designer with 10+ years of experience in product &amp; visual design</p>
  </div>
</div>
<div class="container align-center post-intro">
    <div class="nine columns">
      <p>
        I’ve designed for product and marketing teams in B2B SaaS tech companies, non-profits, and universities. I’ve worn many hats
        <span class="hat-wrap">
          <span class="hats">
            <span class="hat-unit">
              <span class="baseball">🧢</span>
              <span class="sun-hat">👒</span>
              <span class="top-hat">🎩</span>
              <span class="baseball">🧢</span>
          </span>
        </span>
         (visual designer, product designer, illustrator, coder) from working in small teams. Currently based in Chicago.
      </p>
    </div>
    <div class="three columns">
        <div class="img illo">
          <img src="{% static 'projectapp/imgs/Illo-bean.png' %}" alt="A small illustration of The Bean sculpture of Chicago.">
        </div>
    </div>
</div>
