<div class="intro">
    <div class="img placeholder avatar"></div>
    <h1>Nice to meet you!</h1>
    <p>I’m Florence – a designer with 10+ years of experience in product and visual design</p>
</div>
<div class="frame flex row align-center">
    <div class="bit-75">
      <p>
        I’ve designed for product and marketing teams in B2B SaaS tech companies, non-profits, and universities. I’ve worn many hats
         <span>🧢</span>
         <span>👒</span>
         <span>🎩</span>
         (visual designer, UXer, project manager, coder) from working in small teams.
      </p>
    </div>
    <div class="bit-25">
        <div class="img placeholder"></div>
    </div>
</div>
