{% extends 'project_detail.html' %}

{% block prev %}Prev: Invite New User {% endblock prev %}
{% block prev-url %}{% url 'p_codepen_invite' %}{% endblock prev-url %}
{% block next %}Next: Revinate Design System &amp; UI Unification{% endblock next %}
{% block next-url %}{% url 'p_rev_design' %}{% endblock next-url %}

<!-- # Project NAME -->
  {% block p-type %}
    Codepen
  {% endblock p-type %}
  {% block p-name %}
    Intro to Custom Dashboards
  {% endblock p-name %}


<!-- # Project BLURB -->
  {% block p-blurb %}
    I designed and coded up a first-time user flow to introduce a new feature called Custom Dashboards that Revinate was building.
  {% endblock p-blurb %}
  {% block p-blurb-html %}
  <div class="project-indiv body">
    <h2 class="h3">Goal</h2>
    <ul class="goals-list sm">
      <li>
        <span class="number">
          <span class="circle-number sm">1</span>
        </span>
        <span class="goal-text">
          <h3 class="h4">Giving attention to the First Time User Experience (FTUX)</h3>
          I saw an opportunity to address a FTUX flow for a new feature called Custom Dasbhoards. Instead of dumping the user onto this new page with no message, it'd be more beneficial to show customers a quick introduction on how to use this tool.
        </span>
      </li>
    </ul>
  </div>
  {% endblock p-blurb-html %}


<!-- # Project METADATA 1 (YEAR & COMPANY) -->
  {% block p-year %}
    ...
  {% endblock p-year %}



<!-- # Project METADATA 2 (ROLE & responsibilities) -->
  {% block p-role %}
    Visual designer &amp; front-end coder
  {% endblock p-role %}
  {% block p-responsibilities %}
    Visual design, UI/Interaction Design, HTML/CSS, JQuery
  {% endblock p-responsibilities %}



<!-- # Project INTRO IMG -->
  {% block p-introimg %}
    ...
  {% endblock p-introimg %}
  {% block p-introalt %}
  <p class="highlight">
  I coded up a design I had for a simple permissions form Revinate users see when they add a colleague to an account.
</p>
<h5>Improvements</h5>
  <ul class="goals-list">
    <li>
      <span class="number">
        <span class="circle">1</span>
      </span>
      <span class="goal-txt">
        <h6>Adding visual distinction</h6>
        I added icons and pops of color to the form to distinguish different permissions from each other, and to make it very obvious what each permission related to.
      </span>
    </li>
    <li>
      <span class="number">
        <span class="circle">2</span>
      </span>
      <span class="goal-txt">
        <h6>Floating labels for better form usability</h6>
        The floating label pattern cleverly uses placeholder text as the label to save space and allows the user to stay in context and know what they are supposed to type.
      </span>
    </li>
  </ul>
  {% endblock p-introalt %}



<!-- # Actual PROJECT DETAILS & CONTENT -->
  {% block p-body %}
    <p data-height="650" data-theme-id="0" data-slug-hash="OMYMjL" data-default-tab="result" data-user="flobot" class="codepen">See the Pen <a href="http://codepen.io/flobot/pen/OMYMjL/">Dashboard Intro</a> by Florence Tsai (<a href="http://codepen.io/flobot">@flobot</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
  {% endblock p-body %}
