{% extends 'project_detail.html' %}
{% load static %}

{% block prev %}Prev: Revinate Marketing Collateral{% endblock prev %}
{% block prev-url %} {% url 'p_rev_design' %} {% endblock prev-url %}
{% block next %}Next: Portfolio{% endblock next %}
{% block next-url %}{% endblock next-url %}

<!-- # Project NAME -->
  {% block p-type %}
    Print
  {% endblock p-type %}
  {% block p-name %}
    Magazines, media kits, &amp; other printwork
  {% endblock p-name %}


<!-- # Project BLURB -->
  {% block p-blurb %}
    ...
  {% endblock p-blurb %}



<!-- # Project METADATA 1 (YEAR & COMPANY) -->
  {% block p-year %}
    ...
  {% endblock p-year %}



<!-- # Project METADATA 2 (ROLE & responsibilities) -->
  {% block p-role %}
    ...
  {% endblock p-role %}
  {% block p-responsibilities %}
    ...
  {% endblock p-responsibilities %}



<!-- # Project INTRO IMG -->
  {% block p-introimg %}
    <div class="row">
      <div class="twelve columns">
        <img src="{% static 'projectapp/imgs/prj/print/_intro.png' %}" alt="..." class="border" width="100%"/>
      </div>
    </div>
  {% endblock p-introimg %}


<!-- # Actual PROJECT DETAILS & CONTENT -->
  {% block p-body %}
    ...
  {% endblock p-body %}
