{% extends 'project_detail.html' %}
{% load static %}

{% block prev %}Prev: Revinate Marketing Collateral{% endblock prev %}
{% block prev-url %} {% url 'p_rev_design' %} {% endblock prev-url %}
{% block next %}Next: Portfolio{% endblock next %}
{% block next-url %}{% endblock next-url %}

<!-- # Project NAME -->
  {% block p-type %}
    Print
  {% endblock p-type %}
  {% block p-name %}
    Magazines, media kits, &amp; other printwork
  {% endblock p-name %}
  {% block p-role %}
    Various
  {% endblock p-role %}
  {% block p-responsibilities %}
    Details below
  {% endblock p-responsibilities %}

<!-- # Project BLURB -->
  {% block p-blurb %}
    Here is a collection of printed works I’ve done throughout my career across my time at different organizations. Projects include magazines, postcards, event posters, stickers, and media kits.
  {% endblock p-blurb %}
  {% block p-blurb-html %}
    ...
  {% endblock p-blurb-html %}



<!-- # Actual PROJECT DETAILS & CONTENT -->
  {% block p-body %}
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <h2 class="new-section">Mania Magazine</h2>
        </div>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <p>Mania Magazine was an arts &amp; culture magazine at UCSD that publishes once every quarter.</p>
          <h3 class="h4">Design Leadership</h3>
          <p>As Layout Editor I oversaw everything related to design (page layout, typography, visual hierarchy). The Editor-in-Chief trusted me and gave me and my assistants complete control over the visual direction of the magazine. My team and I explored different ways to effectively organize the content and experimented how to make a magazine visually interesting while only being able to be printed in black and white.</p>
          <p>My goal and philosophy was to elevate and enhance the writing pieces through my typography and graphic design knowledge. I wanted people on the team to feel proud that they were part of this and for the magazine to garner recognition on campus to attract more talent and readers.</p>
        </div>
      </div>
      <div class="three columns">
        <div class="meta">
          <p class="label dark-gray">Role</p>
          <p class="sm">Design &amp; Layout Editor</p>
          <p class="v-sm dark-gray">Design leadership, information hierarchy, page &amp; layout design, and print specifications &amp; hand-off.</p>
        </div>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="twelve columns">
        <img src="{% static 'projectapp/imgs/prj/print/mania/project-maniaMagazine.jpg' %}" alt="Project image for Mania Magazine" class="space bottom" width="100%">
      </div>
    </div>
    <div class="row project-indiv">
      <div class="one-half column">
        <img src="{% static 'projectapp/imgs/prj/print/mania/TimWong.jpg' %}" alt="A spread for an article inspired by photographs" class="border space top x-bottom" width="100%" title="(3 of 5)">
      </div>
      <div class="one-half column">
        <img src="{% static 'projectapp/imgs/prj/print/mania/LinaInterview-fixed2.jpg' %}" alt="Page layout for an interview with a previous Mania Magazine Editor-in-Chief"  class="border space top x-bottom" width="100%" title="(4 of 5)">
      </div>
    </div>
    <!--  -->
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <h2 class="new-section">The Loft</h2>
        </div>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <p>The University Events Office (UEO) had a performance lounge named "The Loft" – a venue and restaurant that produced over 200 concerts per year.</p>
          <p>I produced original poster artwork for many musicians and designed a variety of Loft collateral including staff manuals, tri-fold brochures, venue signage, and merchandise.</p>
        </div>
      </div>
      <div class="three columns">
        <div class="meta">
          <p class="label dark-gray">Role</p>
          <p class="sm">Jr. Graphic Design Assistant</p>
          <p class="v-sm dark-gray">Graphic design, page &amp; layout design, and printing specifications</p>
        </div>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="one-half column">
          <img src="{% static 'projectapp/imgs/prj/print/loft/wonderland-1.png'%}" width="100%" class="space" alt="...">
        </div>
        <div class="one-half column">
          <img src="{% static 'projectapp/imgs/prj/print/loft/wonderland-2.png'%}" width="100%" class="space" alt="...">
        </div>
      </div>
      <div class="three columns">
        <span class="block caption">
          The front and back of a postcard design promoting the "Wonderland" festival from ArtPower (a program funded by UEO).
        </span>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <img src="{% static 'projectapp/imgs/prj/print/loft/Sparkparty-invite-white-.jpg'%}" width="100%" class="space border x-top x-bottom" alt="">
      </div>
      <div class="three columns">
        <span class="block caption">
          A postcard design advertising the Spark Party event for important patrons of ArtPower.
        </span>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <img src="{% static 'projectapp/imgs/prj/print/loft/Clara-fixed.jpg'%}" width="100%" class="space" alt="...">
      </div>
      <div class="three columns">
        <span class="block caption">
          A poster advertising the venue locations and dates for Clara C, a musician.
        </span>
      </div>
    </div>
    <!--  -->
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <h2 class="new-section">Becky Bones</h2>
        </div>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <p>Becky Bones LLC. was an “edutainment” brand for kids and teens. They gave back 25% of profits to grassroots environmental solutions (initiatives kickstarted and led by teens in high schools) such as planting trees, starting recycling programs for their local communities, and other green projects.</p>
        </div>
      </div>
      <div class="three columns">
        <p class="label dark-gray">Role</p>
        <p class="sm">Illustrator &amp; Graphic Designer</p>
        <p class="v-sm dark-gray">Illustration, character design, page &amp; layout design.</p>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <h3 class="h4">Character Design</h3>
        	<p>
        		I worked with the CEO and co-founder of Becky Bones to create new characters for them. I was not the original artist, so when I began designing new characters I kept in mind the established visual style of the brand to make sure the new and old character designs would be cohesive.
        	</p>
        	<p>
        		The characters that I've made include: Nerdy Nate, Guzzler, Trashu, Batteron, Zippy, Can, Recycling Rex, Chemy, Cooler, H2Face, Bag, Mighty Lighty, the ninjas (Frank, Ed, WInston, and Ry), Spray, Drain, and Plastique.
        	</p>
        </div>
      </div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <img src="{% static 'projectapp/imgs/prj/print/beckybones/preview-beckyBones.jpg' %}" alt="Project image for Becky Bones" class="space x-bottom" width="100%">
        </div>
      </div>
      <div class="three columns"><span class="block caption">
        Stickers of the Becky Bones characters were made to pass out at events.
      </span></div>
    </div>
    <div class="row project-indiv">
      <div class="nine columns">
        <div class="project-indiv body">
          <h3 class="h4">Media Kit</h3>
          <p>I was in charge of assembling the Becky Bones media kit. I led the art direction, the page layout, and made all the accompanying graphics.</p>
          <img src="{% static 'projectapp/imgs/prj/print/beckybones/01-who-is.jpg' %}" alt="Page from the Media Kit" class="space bottom top" width="100%" title="(1 of 5)">
    			<img src="{% static 'projectapp/imgs/prj/print/beckybones/04-celebrities.jpg' %}" alt="Page from the Media Kit where celebrities rock their Becky Bones gear" class="space bottom top" width="100%" title="(4 of 5)">
    			<img src="{% static 'projectapp/imgs/prj/print/beckybones/05-giving.jpg' %}" alt="Page from the Media Kit that lists what grass-roots projects Becky Bones has contributed to" class=" top space" width="100%" title="(5 of 5)">
        </div>
      </div>
    </div>
    <!--  -->


  {% endblock p-body %}

  <div class="row project-indiv">
    <div class="nine columns">
      <div class="project-indiv body">
        ...
      </div>
    </div>
  </div>


<img src="{% static 'projectapp/imgs/prj/print/loft/'%}" width="100%" class="space" alt="...">
