{% extends 'project_detail.html' %}

{% block prev %}{% endblock prev %}
{% block prev-url %} ... {% endblock prev-url %}
{% block next %}{% endblock next %}
{% block next-url %} ... {% endblock next-url %}

<!-- # Project NAME -->
  {% block p-type %}
    Print
  {% endblock p-type %}
  {% block p-name %}
    Magazines, media kits, &amp; other printwork
  {% endblock p-name %}


<!-- # Project BLURB -->
  {% block p-blurb %}
    ...
  {% endblock p-blurb %}



<!-- # Project METADATA 1 (YEAR & COMPANY) -->
  {% block p-year %}
    ...
  {% endblock p-year %}



<!-- # Project METADATA 2 (ROLE & responsibilities) -->
  {% block p-role %}
    ...
  {% endblock p-role %}
  {% block p-responsibilities %}
    ...
  {% endblock p-responsibilities %}



<!-- # Project INTRO IMG -->
  {% block p-introimg %}
    ...
  {% endblock p-introimg %}
  {% block p-introalt %}
    ...
  {% endblock p-introalt %}



<!-- # Actual PROJECT DETAILS & CONTENT -->
  {% block projectbody %}
    ...
  {% endblock projectbody %}
