{% extends 'project_detail.html' %}
{% load static %}

{% block prev %}Prev: Revinate Email Design Strategy{% endblock prev %}
{% block prev-url %} {% url 'p_rev_email' %} {% endblock prev-url %}
{% block next %}Next: Magazine, Media Kits, &amp; Printwork{% endblock next %}
{% block next-url %} {% url 'p_print' %} {% endblock next-url %}

<!-- # Project NAME -->
  {% block p-type %}
    Revinate
  {% endblock p-type %}
  {% block p-name %}
    Marketing collateral
  {% endblock p-name %}


<!-- # Project BLURB -->
  {% block p-blurb %}
    Revinate's design team was very small and a shared resource between Product and Marketing for a few years. I worked closely with members of the Marketing team to produce one-sheets, brochures, graphics, and research briefs.
  {% endblock p-blurb %}
  {% block p-blurb-html %}
  {% endblock p-blurb-html %}



<!-- # Project METADATA 2 (ROLE & responsibilities) -->
  {% block p-role %}
    Visual / Graphic Designer
  {% endblock p-role %}
  {% block p-responsibilities %}
    Graphics, visual design, information hierarchy, page &amp; layout design
  {% endblock p-responsibilities %}



<!-- # Project INTRO IMG -->
{% block p-introimg %}
  <div class="row">
    <div class="twelve columns">
      <img src="{% static 'projectapp/imgs/prj/rev_mktg/_intro.png' %}" alt="..." class="border" width="100%"/>
    </div>
  </div>
{% endblock p-introimg %}



<!-- # Actual PROJECT DETAILS & CONTENT -->
  {% block p-body %}
    <div class="project-indiv row">
      <div class="nine columns">
        <div class="project-indiv body">
          <h2 class="new-section">Project Summary</h2>
        	<h3 class="h4">Branding Update</h3>
        	<p>The Marketing team was using freelance designers and outside agencies to produce marketing collateral. I offered to build branded templates so that our marketing collateral could visually match the aesthetics of the product.</p>
        </div>
      </div>
    </div>
    <!-- One-sheet paragraph -->
    <div class="project-indiv row">
      <div class="nine columns">
        <img src="{% static 'projectapp/imgs/prj/rev_mktg/researchbrief.png' %}" alt="Success Story example" class="border" width="100%">
        <img src="{% static 'projectapp/imgs/prj/rev_mktg/researchbrief2.png' %}" alt="Success Story example" class="border space top bottom" width="100%">
      </div>
    </div>
    <div class="project-indiv row">
      <div class="nine columns">
        <div class="one-half column">
          <img src="{% static 'projectapp/imgs/prj/rev_mktg/lungarno-new.png' %}" alt="Success Story example" class="border space top x-bottom" width="100%"></div>
        <div class="one-half column">
          <img src="{% static 'projectapp/imgs/prj/rev_mktg/lungarno-new2.png' %}" alt="Success Story example" class="border space top x-bottom" width="100%">
        </div>
      </div>
    </div>
    <!-- Graphics & One-sheets -->
    <div class="project-indiv row">
      <div class="nine columns">
        <div class="project-indiv body">
          <h3 class="h4">Graphics &amp; One-Sheets</h3>
            <p>While working on a few one-sheets for Marketing I also created some visual imagery to go with them.</p>
            <img src="{% static 'projectapp/imgs/prj/rev_mktg/onesheet.jpg' %}" alt="'How Online Reviews Impact Your Hotel' One-sheet" class="border space x-bottom" width="100%">
        </div>
      </div>
    </div>
    <div class="project-indiv row">
      <div class="nine columns">
        <img src="{% static 'projectapp/imgs/prj/rev_mktg/map.jpg' %}" alt="Map of LATAM with key points of information" class="border" width="100%">
        <div class="two-thirds column">
          <img src="{% static 'projectapp/imgs/prj/rev_mktg/icons.jpg' %}" alt="A set of 10 icons" width="100%" >
        </div>
      </div>
    </div>
  {% endblock p-body %}

  <!--  -->
