{% extends 'project_detail.html' %}
{% load static %}

{% block prev %}Prev: RevOps Website{% endblock prev %}
{% block prev-url %} {% url 'p_ro_website' %} {% endblock prev-url %}
{% block next %}Next: Invite New User{% endblock next %}
{% block next-url %} {% url 'p_codepen_invite' %} {% endblock next-url %}

<!-- # Project NAME -->
  {% block p-type %}
    RevOps
  {% endblock p-type %}
  {% block p-name %}
    First-time user experience (FTUX)
  {% endblock p-name %}


<!-- # Project BLURB -->
  {% block p-blurb %}
    ...
  {% endblock p-blurb %}



<!-- # Project METADATA 1 (YEAR & COMPANY) -->
  {% block p-year %}
    ...
  {% endblock p-year %}



<!-- # Project METADATA 2 (ROLE & responsibilities) -->
  {% block p-role %}
    ...
  {% endblock p-role %}
  {% block p-responsibilities %}
    ...
  {% endblock p-responsibilities %}



<!-- # Project INTRO IMG -->
{% block p-introimg %}
  <div class="row">
    <div class="twelve columns">
      <img src="{% static 'projectapp/imgs/prj/ro_ftux/_intro.png' %}" alt="..." class="border" width="100%"/>
    </div>
  </div>
{% endblock p-introimg %}



<!-- # Actual PROJECT DETAILS & CONTENT -->
  {% block p-body %}
    ...
  {% endblock p-body %}
