{% extends 'project_detail.html' %}
{% load static %}

{% block prev %}Prev: {% endblock prev %}
{% block prev-url %} {% url 'p_' %} {% endblock prev-url %}
{% block next %}{% endblock next %}
{% block next-url %} {% url 'p_' %} {% endblock next-url %}

<!-- # Project NAME -->
  {% block p-type %}
    ...
  {% endblock p-type %}
  {% block p-name %}
    ...
  {% endblock p-name %}


<!-- # Project BLURB -->
  {% block p-blurb %}
    ...
  {% endblock p-blurb %}
  {% block p-blurb-html %}
    ...
  {% endblock p-blurb-html %}


<!-- # Project METADATA (ROLE & responsibilities) -->
  {% block p-role %}
    ...
  {% endblock p-role %}
  {% block p-responsibilities %}
    ...
  {% endblock p-responsibilities %}



<!-- # Project INTRO IMG -->
  {% block p-introimg %}
    <div class="row">
      <div class="twelve columns">
        <img src="..." alt="..." class="border" width="100%"/>
      </div>
    </div>
  {% endblock p-introimg %}




<!-- # Actual PROJECT DETAILS & CONTENT -->
  {% block p-body %}
    ...
  {% endblock p-body %}


  <!--  Image of spreadsheet with caption-->
  <div class="row project-indiv">
    <div class="nine columns">
      <div class="project-indiv body">
        ...
      </div>
    </div>
    <div class="three columns caption">
      ...
    </div>
  </div>
