{% extends 'project_detail.html' %}

{% block prev %}Prev: {% endblock prev %}
{% block prev-url %} {% url 'p_' %} {% endblock prev-url %}
{% block next %}{% endblock next %}
{% block next-url %} {% url 'p_' %} {% endblock next-url %}

<!-- # Project NAME -->
  {% block p-type %}
    ...
  {% endblock p-type %}
  {% block p-name %}
    ...
  {% endblock p-name %}


<!-- # Project BLURB -->
  {% block p-blurb %}
    ...
  {% endblock p-blurb %}
  {% block p-blur-htmlb %}
    ...
  {% endblock p-blurb-html %}


<!-- # Project METADATA 2 (ROLE & responsibilities) -->
  {% block p-role %}
    ...
  {% endblock p-role %}
  {% block p-responsibilities %}
    ...
  {% endblock p-responsibilities %}



<!-- # Project INTRO IMG -->
  {% block p-introimg %}
    <div class="row">
      <div class="bit-1">
        <img src="..." alt="..." class="proj-intro-img" width="100%"/>
      </div>
    </div>
  {% endblock p-introimg %}
  {% block p-introalt %}
    ...
  {% endblock p-introalt %}



<!-- # Actual PROJECT DETAILS & CONTENT -->
  {% block p-body %}
    ...
  {% endblock p-body %}
