<!-- # Logo -->
{% include "logo.html" %}
<!-- # ??? -->
{% load static %}
<!-- # What is on every project detail page -->
{% block page_content %}
    <div class="frame">
        <div class="bit-3">third</div>
        <div class="bit-3">third</div>
        <div class="bit-3">third</div>
    </div>

<!-- # NAV for prev/next projects -->
<!-- # Project NAME -->
<!-- # Project BLURB -->
<!-- # Project METADATA 1 (YEAR & COMPANY) -->
<!-- # Project METADATA 2 (ROLE & responsibilities) -->
<!-- # Project INTRO IMG -->
<!-- # Actual PROJECT DETAILS & CONTENT -->

{% endblock %}
