{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
  <div class="row p-nav top">
    <a href="/" class="back-link v-sm"><span class="line sm">← Back to list of projects test </span></a>
  </div>
  <h1 class="inline">{% block p-type %}{% endblock p-type %}</h1><h1 class="inline gradient">{% block p-name %}{% endblock p-name %}</h1>
  <div class="row project-indiv">
    <div class="nine columns">
      <p class="blurb">{% block p-blurb %}{% endblock p-blurb %}</p>
      {% block p-blurb-html %}{% endblock p-blurb-html %}
    </div>
    <div class="three columns">
      <div class="meta">
        <p class="label dark-gray">Role</p>
        <p class="sm">{% block p-role %}{% endblock p-role %}</p>
        <p class="v-sm dark-gray">{% block p-responsibilities %}{% endblock p-responsibilities %}</p>
      </div>
    </div>
  </div>
  {% block p-introimg %}{% endblock p-introimg %}
  <div class="row project-indiv body">
    <div class="twelve columns">
      {% block p-body %}{% endblock p-body %}
    </div>
  </div>
  </div>
</div>
<!-- ADDING IN WORKS NAV -->
<div class="container p-nav bottom">
  <div class="row">
    <div class="six columns talign left">
      <a href="{% block prev-url %}{% endblock prev-url %}" style="display: flex; flex-direction: row;align-items: center;" class="line">
        <span><</span>
        <div class="img placeholder" style="width: 150px; height: 75px; background: gray;display: inline-block;">
          Test
        </div>
        <span class="inline-block sm line">{% block prev %}{% endblock prev %}</span>
      </a>
    </div>
    <div class="six columns talign right">
      <span class="sm">/  </span>
      <a href="{% block next-url %}...{% endblock next-url %}"><span class="line sm">{% block next %}{% endblock next %}</span></a>
    </div>
    <a href="/" class="go-home talign center block sm">Go back to home</a>
  </div>
</div>
<!-- -->
{% include "footer_note.html" %}
{% endblock %}



<!-- # Project METADATA 1 (YEAR & COMPANY) -->
<!-- # Project METADATA 2 (ROLE & responsibilities) -->
<!-- # Project INTRO IMG -->
<!-- # Actual PROJECT GOALS & DETAILS & CONTENT -->
