<div class="works">
  <h2>What I've worked on</h2>
  <div class="frame filter">
    <div class="bit-1 flex row align-center">
      <span>Filters</span>
      <div class="option all">All projects</div>
      <div class="option visual">Visual / Branding</div>
      <div class="option product">Product Design</div>
      <div class="option print">Print</div>
      <div class="option code">Code</div>
    </div>
  </div>

  <div class="frame project-row">
    <!-- for loop -->
      <div class="bit-3">
        <div class="project-tile">
          <div class="img img-tile">
            <img src="..." alt="...">
          </div>
          <h3 class="name"><a href="{% url 'p_email_strategy' %}">...</a></h3>
          <span class="details">...</span>
        </div>
      </div>
    <!-- for loop -->
  </div>
</div>


<!-- List Reference
0. Portfolio Building (Self, Visual, Coding)
1. RevOps Website
2. First-time UX
3. Deal Editor
4. Small Codepens (Self, Visual, Coding)
5. Design System
6. Email Design Stategy
7. Marketing Collateral
8. Magazine & Media Kit & Print work
 -->
 <!-- TODO: Create a for statement -->
 <!-- Each project tile:
     1. Project image
     2. Project img alt
     3. Project Name
     4. Project URL
     5. Company
     6. Project Type
 -->
