{% load static %}
<div class="works container">
  <h2>What I've worked on</h2>
  <!--div class="row filter">
    <div class="twelve columns flex align-center">
      <span>Filters</span>
      <div class="option all">All projects</div>
      <div class="option visual">Visual / Branding</div>
      <div class="option product">Product Design</div>
      <div class="option print">Print</div>
      <div class="option code">Code</div>
    </div>
  </div-->

  <div class="row">
    <div class="four columns">
      <a class="project-tile" href="{% url 'p_ro_website' %}">
        <div class="img thumb ro-website"></div>
        <h3 class="name"><span class="line">RevOps website</span></h3>
        <span class="details sm">Visual / Branding Design</span>
      </a>
    </div>
    <div class="four columns">
      <a class="project-tile"  href="{% url 'p_ro_ftux' %}">
        <div class="img thumb ro-ftux"></div>
        <h3 class="name"><span class="line">RevOps first-time UX</span></h3>
        <span class="details sm">Product Design  ·  UX Design</span>
      </a>
    </div>
    <div class="four columns">
      <a class="project-tile" href="{% url 'p_codepen' %}">
        <div class="img thumb codepen"></div>
        <h3 class="name"><span class="line">Codepen projects</span></h3>
        <span class="details sm">HTML/CSS  ·  Javascript</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="four columns">
      <a class="project-tile rev-design" href="{% url 'p_rev_design' %}">
        <div class="img thumb rev-design"></div>
        <h3 class="name"><span class="line">Revinate Design System</span></h3>
        <span class="details sm">Visual    ·  Product Design</span>
      </a>
    </div>
    <div class="four columns">
      <a class="project-tile" href="{% url 'p_rev_email' %}">
        <div class="img thumb rev-email"></div>
        <h3 class="name"><span class="line">Revinate email design strategy</span></h3>
        <span class="details sm">Visual    ·  Product Design</span>
      </a>
    </div>

    <div class="four columns">
      <a class="project-tile" href="{% url 'p_rev_mktg' %}">
        <div class="img thumb rev-mktg"></div>
        <h3 class="name"><span class="line">Revinate marketing collateral</span></h3>
        <span class="details sm">Print    ·  Visual Design</span>
      </a>
    </div>
  </div>

  <div class="row">
      <div class="four columns">
        <a class="project-tile" href="{% url 'p_print' %}">
          <div class="img thumb print"></div>
          <h3 class="name"><span class="line">Magazine, media kits, &amp; printwork</span></h3>
          <span class="details sm">Print    ·  Visual Design</span>
        </a>
      </div>
      <div class="four columns">
        <div class="z-project-tile">
          <div class="img thumb portfolio"></div>
          <h3 class="name">How I built this portfolio site</h3>
          <span class="details sm">Visual Design   ·  HTML/SCSS  ·  Django</span>
        </div>
      </div>
    </div>
  </div>


<!-- List Reference
0. Portfolio Building (Self, Visual, Coding)
1. RevOps Website
2. First-time UX
3. Deal Editor
4. Small Codepens (Self, Visual, Coding)
5. Design System
6. Email Design Stategy
7. Marketing Collateral
8. Magazine & Media Kit & Print work
 -->
 <!-- TODO: Create a for statement -->
 <!-- Each project tile:
     1. Project image
     2. Project img alt
     3. Project Name
     4. Project URL
     5. Company
     6. Project Type
 -->
