/* line 39, static/projectapp/css/lemonade.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 46, static/projectapp/css/lemonade.scss */
.frame {
  margin: 0 auto;
  max-width: 100%; }
  /* line 49, static/projectapp/css/lemonade.scss */
  .frame:after {
    content: "";
    display: table;
    clear: both; }

/* line 58, static/projectapp/css/lemonade.scss */
[class*='bit-'] {
  float: left;
  padding: 0.3em; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-1 {
  width: 100%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-2 {
  width: 50%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-3 {
  width: 33.33333%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-4 {
  width: 25%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-5 {
  width: 20%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-6 {
  width: 16.66667%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-7 {
  width: 14.28571%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-8 {
  width: 12.5%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-9 {
  width: 11.11111%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-10 {
  width: 10%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-11 {
  width: 9.09091%; }

/* line 65, static/projectapp/css/lemonade.scss */
.bit-12 {
  width: 8.33333%; }

/* line 74, static/projectapp/css/lemonade.scss */
.bit-25 {
  width: 25%; }

/* line 74, static/projectapp/css/lemonade.scss */
.bit-40 {
  width: 40%; }

/* line 74, static/projectapp/css/lemonade.scss */
.bit-60 {
  width: 60%; }

/* line 74, static/projectapp/css/lemonade.scss */
.bit-75 {
  width: 75%; }

@media (min-width: 30em) and (max-width: 50em) {
  /* line 85, static/projectapp/css/lemonade.scss */
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; }
  /* line 93, static/projectapp/css/lemonade.scss */
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%; } }

@media (min-width: 50em) and (max-width: 68.75em) {
  /* line 106, static/projectapp/css/lemonade.scss */
  .bit-2,
  .bit-7 {
    width: 100%; }
  /* line 111, static/projectapp/css/lemonade.scss */
  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; } }

@media (max-width: 500px) {
  /* line 121, static/projectapp/css/lemonade.scss */
  .bit-25 {
    width: 100%; }
  /* line 121, static/projectapp/css/lemonade.scss */
  .bit-40 {
    width: 100%; }
  /* line 121, static/projectapp/css/lemonade.scss */
  .bit-60 {
    width: 100%; }
  /* line 121, static/projectapp/css/lemonade.scss */
  .bit-75 {
    width: 100%; }
  /* line 126, static/projectapp/css/lemonade.scss */
  .bit-25 {
    width: 100% !important; }
  /* line 126, static/projectapp/css/lemonade.scss */
  .bit-40 {
    width: 100% !important; }
  /* line 126, static/projectapp/css/lemonade.scss */
  .bit-60 {
    width: 100% !important; }
  /* line 126, static/projectapp/css/lemonade.scss */
  .bit-75 {
    width: 100% !important; } }
