/* line 2, static/projectapp/css/main.scss */
.lilac {
  background: lavender; }

/* line 3, static/projectapp/css/main.scss */
.papayawhip {
  background: papayawhip; }

/* line 4, static/projectapp/css/main.scss */
.light-pink {
  background: light-pink; }

/* line 5, static/projectapp/css/main.scss */
.gray {
  background: gray; }

/* line 6, static/projectapp/css/main.scss */
.circle {
  border-radius: 100px; }

/* line 29, static/projectapp/css/main.scss */
h1, h2 {
  background-image: linear-gradient(45deg, #DA2500 0%, #F00016 50%, #EC0055 100%);
  background-clip: text;
  text-fill-color: transparent;
  font-family: "FreightTextBold-Regular", serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

/* line 39, static/projectapp/css/main.scss */
h1 {
  font-size: 72px;
  line-height: 80px; }

/* line 40, static/projectapp/css/main.scss */
h2 {
  font-size: 48px;
  line-height: normal; }

/* line 41, static/projectapp/css/main.scss */
h3 {
  font-size: 24px;
  line-height: 32px; }

/* line 43, static/projectapp/css/main.scss */
p, a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  line-height: 36px; }
  /* line 47, static/projectapp/css/main.scss */
  p.sm, a.sm {
    font-size: 18px;
    line-height: 24px; }

/* line 52, static/projectapp/css/main.scss */
.freight-text {
  font-family: "FreightTextBold-Regular", serif; }

/* line 53, static/projectapp/css/main.scss */
.ibm-plex {
  font-family: "IBM Plex Sans", sans-serif; }

/* line 55, static/projectapp/css/main.scss */
body {
  max-width: 935px;
  margin: 0 auto; }

/* line 62, static/projectapp/css/main.scss */
.block {
  display: block; }

/* line 63, static/projectapp/css/main.scss */
.inline {
  display: inline-block; }

/* line 64, static/projectapp/css/main.scss */
.hide {
  display: none !important; }

/* line 65, static/projectapp/css/main.scss */
.img.placeholder {
  background: #E8E8E8;
  border-radius: 300px;
  width: 215px;
  height: 215px;
  display: inline-block; }
  /* line 72, static/projectapp/css/main.scss */
  .img.placeholder::after {
    content: 'Placeholder';
    display: block;
    text-align: center;
    vertical-align: middle; }

/* line 80, static/projectapp/css/main.scss */
.flex {
  display: flex; }
  /* line 81, static/projectapp/css/main.scss */
  .flex.row {
    flex-direction: row; }
