/* line 2, static/projectapp/css/main.scss */
.lilac {
  background: lavender; }

/* line 3, static/projectapp/css/main.scss */
.papayawhip {
  background: papayawhip; }

/* line 4, static/projectapp/css/main.scss */
.gray {
  background: gray; }

/* line 7, static/projectapp/css/main.scss */
.bit-3:nth-child(3n-1) .project-tile {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

/* line 8, static/projectapp/css/main.scss */
.bit-3:nth-child(3n+1) .project-tile {
  padding-right: 1.25rem; }

/* line 9, static/projectapp/css/main.scss */
.bit-3:nth-child(3n) .project-tile {
  padding-left: 1.25rem;
  padding-right: 0 !important; }

/* line 37, static/projectapp/css/main.scss */
.gradient {
  background-image: linear-gradient(33deg, #3C23E0 0%, #4422F0 50%, #0372F4 100%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

/* line 46, static/projectapp/css/main.scss */
h1, h2, h3 {
  color: #042873; }

/* line 47, static/projectapp/css/main.scss */
h1, .h1 {
  font-size: 7.2rem;
  line-height: 8rem; }

/* line 48, static/projectapp/css/main.scss */
h2, .h2 {
  font-size: 4.8rem;
  line-height: normal; }

/* line 49, static/projectapp/css/main.scss */
h3, .h3, .logo, q {
  font-size: 2.4rem;
  line-height: 2.8rem; }

/* line 51, static/projectapp/css/main.scss */
p, a, span {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 3.6rem; }
  /* line 56, static/projectapp/css/main.scss */
  p.sm, a.sm, span.sm {
    font-size: 1.8rem;
    line-height: 2.4rem; }
  /* line 60, static/projectapp/css/main.scss */
  p.label, a.label, span.label {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: -1.5rem; }
  /* line 61, static/projectapp/css/main.scss */
  p.v-sm, a.v-sm, span.v-sm {
    font-size: 1.6rem;
    line-height: 2.4rem; }
  /* line 62, static/projectapp/css/main.scss */
  p.dark-gray, a.dark-gray, span.dark-gray {
    color: #777; }
  /* line 63, static/projectapp/css/main.scss */
  p.gray, a.gray, span.gray {
    color: #E8E8E8; }
  /* line 64, static/projectapp/css/main.scss */
  p.dark-blue, a.dark-blue, span.dark-blue {
    color: #042873; }
  /* line 65, static/projectapp/css/main.scss */
  p.normal, a.normal, span.normal {
    font-weight: normal; }
  /* line 66, static/projectapp/css/main.scss */
  p.antialias, a.antialias, span.antialias {
    font-smooth: antialias; }
  /* line 67, static/projectapp/css/main.scss */
  p.caption, a.caption, span.caption {
    color: #A1B0CF;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-left: 1px solid #A1B0CF;
    padding-left: 2rem; }

/* line 69, static/projectapp/css/main.scss */
h1, h2, .freight-text {
  font-family: "FreightTextBold-Regular", serif; }

/* line 70, static/projectapp/css/main.scss */
h3, .h3, .ibm-plex {
  font-family: "IBM Plex Sans", sans-serif; }

/* line 72, static/projectapp/css/main.scss */
body {
  margin: 0 auto; }

/* line 76, static/projectapp/css/main.scss */
h1.logo {
  margin-top: 1rem;
  margin-bottom: 3rem; }
  /* line 78, static/projectapp/css/main.scss */
  h1.logo a {
    color: #777; }
    /* line 80, static/projectapp/css/main.scss */
    h1.logo a:hover {
      color: #042873; }
    /* line 81, static/projectapp/css/main.scss */
    h1.logo a span {
      font-size: 2rem;
      font-family: "FreightTextBold-Regular", serif; }

/* line 84, static/projectapp/css/main.scss */
.p-nav.top {
  margin-bottom: 5rem; }

/* line 85, static/projectapp/css/main.scss */
.back-link {
  position: absolute;
  top: -5.5rem;
  left: 0; }

/* line 91, static/projectapp/css/main.scss */
.img.avatar img {
  margin-bottom: 1rem;
  width: 120px;
  height: 120px; }

/* line 92, static/projectapp/css/main.scss */
.intro p {
  color: #042873; }

/* line 94, static/projectapp/css/main.scss */
.hat-wrap {
  position: relative;
  display: inline;
  width: 3.2rem; }

/* line 99, static/projectapp/css/main.scss */
.hats {
  overflow: hidden;
  height: 2.75rem;
  position: absolute; }
  /* line 103, static/projectapp/css/main.scss */
  .hats::before {
    content: '';
    width: 30px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, white 100%);
    z-index: 100; }
  /* line 114, static/projectapp/css/main.scss */
  .hats::after {
    content: '';
    width: 30px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
    z-index: 100; }
  /* line 125, static/projectapp/css/main.scss */
  .hats .hat-unit {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    -webkit-animation: hatswap 5s ease-out infinite;
    animation-delay: 2s; }
  /* line 134, static/projectapp/css/main.scss */
  .hats .sun-hat, .hats .top-hat {
    transform: rotateY(0deg) rotate(25deg);
    display: inline-block; }
  /* line 135, static/projectapp/css/main.scss */
  .hats .baseball {
    transform: rotateY(0deg) rotate(25deg) scaleX(-1);
    display: inline-block; }

@keyframes hatswap {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  33% {
    opacity: 1;
    -webkit-transform: translateY(-40px); }
  66% {
    opacity: 1;
    -webkit-transform: translateY(-78px); }
  99.99% {
    opacity: 1;
    -webkit-transform: translateY(-109px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0px); } }

/* line 147, static/projectapp/css/main.scss */
a {
  text-decoration: none; }
  /* line 148, static/projectapp/css/main.scss */
  a h3 {
    line-height: 0;
    display: inline;
    position: relative;
    font-weight: 300;
    border-bottom: 1rem solid #ECF4FE;
    top: 0.125rem; }
  /* line 156, static/projectapp/css/main.scss */
  a .details {
    color: #777;
    display: block;
    margin-top: 1.5rem; }

/* line 158, static/projectapp/css/main.scss */
.z-project-tile {
  display: block;
  text-decoration: none;
  margin-bottom: 5rem;
  position: relative;
  transition: all 0.2s ease-out;
  top: 0; }
  /* line 165, static/projectapp/css/main.scss */
  .z-project-tile h3 {
    font-weight: 400;
    color: #777;
    top: -1rem;
    margin-top: 2rem;
    margin-bottom: 0.75rem; }

/* line 167, static/projectapp/css/main.scss */
.project-tile {
  display: block;
  text-decoration: none;
  margin-bottom: 5rem;
  position: relative;
  transition: all 0.2s ease-out;
  top: 0; }
  /* line 174, static/projectapp/css/main.scss */
  .project-tile:hover {
    top: -8px;
    transition: all 0.1s ease-in; }
    /* line 177, static/projectapp/css/main.scss */
    .project-tile:hover h3 {
      border-bottom-color: #D9EAFD; }
    /* line 178, static/projectapp/css/main.scss */
    .project-tile:hover .line {
      background-image: linear-gradient(33deg, #3C23E0 0%, #4422F0 50%, #0372F4 100%);
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      transition: all 0.2s ease-in; }
  /* line 189, static/projectapp/css/main.scss */
  .project-tile:active, .project-tile:focus {
    color: #042873; }

/* line 193, static/projectapp/css/main.scss */
span.line {
  position: relative;
  top: 12px; }

/* line 197, static/projectapp/css/main.scss */
span.tag {
  background-color: #DDE8FC;
  border-radius: 3px;
  color: #A1B0CF;
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: .2rem .5rem;
  text-transform: uppercase;
  margin-left: .5rem;
  vertical-align: middle;
  position: relative;
  top: -2px; }

/* line 212, static/projectapp/css/main.scss */
.thumb {
  height: 16.6rem;
  width: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in;
  background: no-repeat center center gray cover; }
  /* line 221, static/projectapp/css/main.scss */
  .thumb.ro-website {
    background-image: url("/static/projectapp/imgs/th-ro-website.png?a04fcea79861"); }
    /* line 221, static/projectapp/css/main.scss */
    .thumb.ro-website:hover {
      background-image: url("/static/projectapp/imgs/th-ro-website2.png?def1f85cc332"); }
  /* line 222, static/projectapp/css/main.scss */
  .thumb.ro-ftux {
    background-image: url("/static/projectapp/imgs/th-ro-ftux.png?8fb806905807"); }
    /* line 222, static/projectapp/css/main.scss */
    .thumb.ro-ftux:hover {
      background-image: url("/static/projectapp/imgs/th-ro-ftux2.png?24daf44f0993"); }
  /* line 223, static/projectapp/css/main.scss */
  .thumb.codepen-invite {
    background-image: url("/static/projectapp/imgs/th-codepen-invite.png?fddac059f01f");
    opacity: 0.85; }
    /* line 223, static/projectapp/css/main.scss */
    .thumb.codepen-invite:hover {
      opacity: 1; }
  /* line 224, static/projectapp/css/main.scss */
  .thumb.codepen-dashboard {
    background-image: url("/static/projectapp/imgs/th-codepen-dashboard.png?ce2dcd3df36f");
    opacity: 0.85; }
    /* line 224, static/projectapp/css/main.scss */
    .thumb.codepen-dashboard:hover {
      opacity: 1; }
  /* line 225, static/projectapp/css/main.scss */
  .thumb.rev-design {
    background-image: url("/static/projectapp/imgs/th-rev-design.png?e452eea54a6f"); }
    /* line 225, static/projectapp/css/main.scss */
    .thumb.rev-design:hover {
      background-image: url("/static/projectapp/imgs/th-rev-design2.png?df9dea959384"); }
  /* line 226, static/projectapp/css/main.scss */
  .thumb.rev-email {
    background-image: url("/static/projectapp/imgs/th-rev-email.png?c3a8a7b26231"); }
    /* line 226, static/projectapp/css/main.scss */
    .thumb.rev-email:hover {
      background-image: url("/static/projectapp/imgs/th-rev-email2.png?75b90473fd7d"); }
  /* line 227, static/projectapp/css/main.scss */
  .thumb.rev-mktg {
    background-image: url("/static/projectapp/imgs/th-rev-mktg.png?cbfceb3c27c2"); }
    /* line 227, static/projectapp/css/main.scss */
    .thumb.rev-mktg:hover {
      background-image: url("/static/projectapp/imgs/th-rev-mktg2.png?64f30702574b"); }
  /* line 228, static/projectapp/css/main.scss */
  .thumb.print {
    background-image: url("/static/projectapp/imgs/th-print.png?5854cf40cb76");
    opacity: 0.85; }
    /* line 228, static/projectapp/css/main.scss */
    .thumb.print:hover {
      opacity: 1; }
  /* line 229, static/projectapp/css/main.scss */
  .thumb.portfolio {
    background-image: url("/static/projectapp/imgs/th-portfolio.png?e3d1d2df339e"); }

/* line 233, static/projectapp/css/main.scss */
.thank-you .sm {
  color: #1F51F3;
  display: block;
  text-decoration: none; }
  /* line 237, static/projectapp/css/main.scss */
  .thank-you .sm i {
    margin-right: 0.4rem; }

/* line 239, static/projectapp/css/main.scss */
.made-with {
  margin-top: 7rem; }

/* line 242, static/projectapp/css/main.scss */
.p-nav {
  position: relative;
  display: block;
  border-top: 1px solid #DDE8FC;
  top: -1.75rem;
  margin-bottom: 6rem; }
  /* line 250, static/projectapp/css/main.scss */
  .p-nav a {
    border-bottom: 1rem solid #ECF4FE;
    transition: all 0.2s ease-in;
    display: inline; }
    /* line 254, static/projectapp/css/main.scss */
    .p-nav a:hover {
      border-bottom-color: #D9EAFD; }
      /* line 256, static/projectapp/css/main.scss */
      .p-nav a:hover .line {
        background-image: linear-gradient(33deg, #3C23E0 0%, #4422F0 50%, #0372F4 100%);
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        transition: all 0.2s ease-in; }
    /* line 267, static/projectapp/css/main.scss */
    .p-nav a span {
      top: 10px;
      color: #1F51F3; }

/* line 273, static/projectapp/css/main.scss */
.quote {
  background-image: linear-gradient(33deg, #3C23E0 0%, #4422F0 50%, #0372F4 100%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  border-left: 1px solid #A1B0CF;
  padding: 1rem 5rem; }
  /* line 283, static/projectapp/css/main.scss */
  .quote .quote-from {
    margin-top: 1rem; }

/* line 286, static/projectapp/css/main.scss */
.project-indiv .blurb {
  margin-bottom: 3rem; }

/* line 288, static/projectapp/css/main.scss */
.project-indiv .body p, .project-indiv .body ul, .project-indiv .body .h3, .project-indiv .body h3, .project-indiv .body .goal-text {
  color: #000;
  font-size: 1.8rem;
  line-height: 2.6rem; }

/* line 293, static/projectapp/css/main.scss */
.project-indiv .body h3 {
  margin: 0 0 1rem; }

/* line 294, static/projectapp/css/main.scss */
.project-indiv .body .h3 {
  text-decoration: underline; }

/* line 295, static/projectapp/css/main.scss */
.project-indiv .body li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  align-items: flex-start; }

/* line 296, static/projectapp/css/main.scss */
.project-indiv .body .goal-text {
  color: #777; }

/* line 297, static/projectapp/css/main.scss */
.project-indiv .body .new-section {
  border-top: 5px solid #DDE8FC;
  padding-top: 5rem; }

/* line 300, static/projectapp/css/main.scss */
.meta {
  padding-top: 1.25rem; }
  /* line 302, static/projectapp/css/main.scss */
  .meta p:last-child {
    margin-top: -1.5rem; }

/* line 304, static/projectapp/css/main.scss */
.goals-list {
  margin-bottom: 5rem; }

/* line 305, static/projectapp/css/main.scss */
.circle-number {
  background: #DDE8FC;
  color: #042873;
  border-radius: 3rem;
  padding: .25rem 1rem;
  display: inline-block;
  margin-right: 2rem; }

/* line 314, static/projectapp/css/main.scss */
img.border {
  border: 1px solid #A1B0CF; }

/* line 316, static/projectapp/css/main.scss */
img.space.top {
  margin-top: 1rem; }

/* line 317, static/projectapp/css/main.scss */
img.space.x-top {
  margin-top: 4rem; }

/* line 318, static/projectapp/css/main.scss */
img.space.bottom {
  margin-bottom: 1rem; }

/* line 319, static/projectapp/css/main.scss */
img.space.x-bottom {
  margin-bottom: 4rem; }

/* line 324, static/projectapp/css/main.scss */
.p-nav.bottom {
  border-bottom: 1px solid #DDE8FC;
  margin: 6rem 0 0;
  padding: 1.5rem 0 2rem; }
  /* line 328, static/projectapp/css/main.scss */
  .p-nav.bottom a {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-self: center;
    border: none; }
    /* line 334, static/projectapp/css/main.scss */
    .p-nav.bottom a.prev-link {
      justify-content: flex-start; }
    /* line 335, static/projectapp/css/main.scss */
    .p-nav.bottom a.next-link {
      justify-content: flex-end; }
    /* line 336, static/projectapp/css/main.scss */
    .p-nav.bottom a .p-link {
      color: #042873;
      font-size: 1.25rem;
      text-transform: uppercase;
      letter-spacing: 1px; }
    /* line 342, static/projectapp/css/main.scss */
    .p-nav.bottom a .p-nav-name {
      display: inline-block;
      line-height: 2.25rem;
      margin: 0 2rem; }
    /* line 343, static/projectapp/css/main.scss */
    .p-nav.bottom a .line {
      border-bottom: 1rem solid #ECF4FE;
      transition: all 0.2s ease-in;
      display: inline;
      top: -1rem;
      color: #1F51F3; }
      /* line 350, static/projectapp/css/main.scss */
      .p-nav.bottom a .line:hover {
        border-bottom-color: #D9EAFD; }
        /* line 352, static/projectapp/css/main.scss */
        .p-nav.bottom a .line:hover .line {
          background-image: linear-gradient(33deg, #3C23E0 0%, #4422F0 50%, #0372F4 100%);
          background-clip: text;
          text-fill-color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-background-clip: text;
          -moz-text-fill-color: transparent;
          transition: all 0.2s ease-in; }
    /* line 364, static/projectapp/css/main.scss */
    .p-nav.bottom a span, .p-nav.bottom a div {
      align-self: center; }
  /* line 366, static/projectapp/css/main.scss */
  .p-nav.bottom .six.columns:first-child {
    border-right: 1px dashed #DDE8FC; }

/* line 369, static/projectapp/css/main.scss */
.ro-website-video {
  background-color: #042873;
  background-image: url("/static/projectapp/imgs/bg_pattern.png?e913ac8d6cf8");
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 380, static/projectapp/css/main.scss */
  .ro-website-video .video-wrap {
    padding: 2rem 0 0 1rem;
    background: white; }

/* line 383, static/projectapp/css/main.scss */
.post-intro .bit-75 p {
  padding-right: 1rem; }

/* line 384, static/projectapp/css/main.scss */
.works.container {
  margin-top: 6rem; }

/* line 386, static/projectapp/css/main.scss */
.footer {
  max-width: 680px;
  margin: 0 auto; }

/* line 390, static/projectapp/css/main.scss */
.block {
  display: block !important; }

/* line 391, static/projectapp/css/main.scss */
.inline-block {
  display: inline-block; }

/* line 392, static/projectapp/css/main.scss */
.inline {
  display: inline; }

/* line 393, static/projectapp/css/main.scss */
.hide {
  display: none !important; }

/* line 395, static/projectapp/css/main.scss */
.img.thumb img {
  width: 100%;
  height: auto;
  display: inline-block; }

/* line 400, static/projectapp/css/main.scss */
.img.illo img {
  width: 170px;
  height: auto;
  display: block; }

/* line 402, static/projectapp/css/main.scss */
.flex {
  display: flex; }
  /* line 403, static/projectapp/css/main.scss */
  .flex.row {
    flex-direction: row; }
  /* line 404, static/projectapp/css/main.scss */
  .flex.align-center {
    align-items: center; }

/* line 407, static/projectapp/css/main.scss */
.talign.left {
  text-align: left; }

/* line 408, static/projectapp/css/main.scss */
.talign.right {
  text-align: right; }

/* line 409, static/projectapp/css/main.scss */
.talign.center {
  text-align: center; }
