/* line 2, static/projectapp/css/main.scss */
.lilac {
  background: lavender; }

/* line 3, static/projectapp/css/main.scss */
.papayawhip {
  background: papayawhip; }

/* line 4, static/projectapp/css/main.scss */
.light-pink {
  background: light-pink; }

/* line 5, static/projectapp/css/main.scss */
.gray {
  background: gray; }

/* line 6, static/projectapp/css/main.scss */
.circle {
  border-radius: 100px; }

/* line 9, static/projectapp/css/main.scss */
.bit-3:nth-child(3n-1) .project-tile {
  background: white;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

/* line 10, static/projectapp/css/main.scss */
.bit-3:nth-child(3n+1) .project-tile {
  background: white;
  padding-right: 1.25rem; }

/* line 11, static/projectapp/css/main.scss */
.bit-3:nth-child(3n) .project-tile {
  background: white;
  padding-left: 1.25rem;
  padding-right: 0 !important; }

/* line 34, static/projectapp/css/main.scss */
h1, h2, .gradient {
  background-image: linear-gradient(45deg, #042873 0%, #4422F0 50%, #0372F4 100%);
  background-clip: text;
  text-fill-color: transparent;
  font-family: "FreightTextBold-Regular", serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

/* line 44, static/projectapp/css/main.scss */
h1, .h1 {
  font-size: 72px;
  line-height: 80px; }

/* line 45, static/projectapp/css/main.scss */
h2 {
  font-size: 48px;
  line-height: normal; }

/* line 46, static/projectapp/css/main.scss */
h3, .logo {
  font-size: 24px;
  line-height: 32px; }

/* line 48, static/projectapp/css/main.scss */
p, a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  line-height: 36px; }
  /* line 53, static/projectapp/css/main.scss */
  p.sm, a.sm {
    font-size: 18px;
    line-height: 24px; }

/* line 58, static/projectapp/css/main.scss */
.freight-text {
  font-family: "FreightTextBold-Regular", serif; }

/* line 59, static/projectapp/css/main.scss */
.ibm-plex {
  font-family: "IBM Plex Sans", sans-serif; }

/* line 61, static/projectapp/css/main.scss */
body {
  margin: 0 auto; }

/* line 66, static/projectapp/css/main.scss */
h1.logo {
  -webkit-text-fill-color: #999;
  -moz-text-fill-color: #999;
  margin-top: 1rem;
  margin-bottom: 3rem; }

/* line 68, static/projectapp/css/main.scss */
.avatar {
  margin-bottom: 1rem; }

/* line 69, static/projectapp/css/main.scss */
.intro p {
  color: #042873; }

/* line 71, static/projectapp/css/main.scss */
.thank-you p.sm {
  color: #0372F4; }
  /* line 73, static/projectapp/css/main.scss */
  .thank-you p.sm i {
    margin-right: 0.4rem; }

/* line 76, static/projectapp/css/main.scss */
.post-intro .bit-75 p {
  padding-right: 1rem; }

/* line 77, static/projectapp/css/main.scss */
.works {
  margin-top: 5rem; }

/* line 79, static/projectapp/css/main.scss */
.footer {
  max-width: 680px;
  margin: 0 auto; }

/* line 83, static/projectapp/css/main.scss */
.block {
  display: block !important; }

/* line 84, static/projectapp/css/main.scss */
.inline-block {
  display: inline-block; }

/* line 85, static/projectapp/css/main.scss */
.inline {
  display: inline; }

/* line 86, static/projectapp/css/main.scss */
.hide {
  display: none !important; }

/* line 88, static/projectapp/css/main.scss */
.img.placeholder {
  background: #E8E8E8;
  border-radius: 300px;
  width: 215px;
  height: 215px;
  display: inline-block;
  position: relative; }
  /* line 95, static/projectapp/css/main.scss */
  .img.placeholder::after {
    content: 'Placeholder';
    display: block;
    position: absolute;
    top: 45%;
    left: 30%; }
  /* line 102, static/projectapp/css/main.scss */
  .img.placeholder.avatar {
    width: 120px;
    height: 120px; }

/* line 107, static/projectapp/css/main.scss */
.img.img-tile {
  width: 100%;
  height: 175px;
  background: #E8E8E8;
  display: block; }

/* line 115, static/projectapp/css/main.scss */
.flex {
  display: flex; }
  /* line 116, static/projectapp/css/main.scss */
  .flex.row {
    flex-direction: row; }
  /* line 117, static/projectapp/css/main.scss */
  .flex.align-center {
    align-items: center; }

/* line 120, static/projectapp/css/main.scss */
.talign.left {
  text-align: left; }

/* line 121, static/projectapp/css/main.scss */
.talign.right {
  text-align: right; }

/* line 122, static/projectapp/css/main.scss */
.talign.center {
  text-align: center; }

/** Large Desktop ------------ **/
@media (min-width: 1440px), (min-device-width: 1440px) {
  /* line 129, static/projectapp/css/main.scss */
  body {
    max-width: 1164px; } }

@media (min-width: 935px) and (max-width: 1440px), (min-device-width: 935px) and (max-device-width-width: 1440px) {
  /* line 135, static/projectapp/css/main.scss */
  body {
    max-width: 935px; } }
