/* line 2, static/projectapp/css/main.scss */
.lilac {
  background: lavender; }

/* line 3, static/projectapp/css/main.scss */
.papayawhip {
  background: papayawhip; }

/* line 4, static/projectapp/css/main.scss */
.light-pink {
  background: light-pink; }

/* line 5, static/projectapp/css/main.scss */
.gray {
  background: gray; }

/* line 26, static/projectapp/css/main.scss */
h1, h2 {
  color: linear-gradient(45deg, #DA2500 0%, #F00016 50%, #EC0055 100%);
  font-family: serif; }

/* line 27, static/projectapp/css/main.scss */
h1 {
  font-size: 72px;
  line-height: 80px; }

/* line 28, static/projectapp/css/main.scss */
h2 {
  font-size: 48px;
  line-height: normal; }

/* line 29, static/projectapp/css/main.scss */
h3 {
  font-size: 24px;
  line-height: 32px; }

/* line 31, static/projectapp/css/main.scss */
p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  line-height: 36px; }
  /* line 36, static/projectapp/css/main.scss */
  p .small {
    font-size: 18px;
    line-height: 24px; }

/* line 41, static/projectapp/css/main.scss */
body {
  max-width: 935px;
  margin: 0 auto; }

/* line 48, static/projectapp/css/main.scss */
.hide {
  display: none !important; }
