/* line 2, static/projectapp/css/main.scss */
.lilac {
  background: lavender; }

/* line 3, static/projectapp/css/main.scss */
.papayawhip {
  background: papayawhip; }

/* line 4, static/projectapp/css/main.scss */
.light-pink {
  background: light-pink; }

/* line 5, static/projectapp/css/main.scss */
.gray {
  background: gray; }

/* line 6, static/projectapp/css/main.scss */
.circle {
  border-radius: 100px; }

/* line 27, static/projectapp/css/main.scss */
h1, h2 {
  color: linear-gradient(45deg, #DA2500 0%, #F00016 50%, #EC0055 100%);
  font-family: serif; }

/* line 28, static/projectapp/css/main.scss */
h1 {
  font-size: 72px;
  line-height: 80px; }

/* line 29, static/projectapp/css/main.scss */
h2 {
  font-size: 48px;
  line-height: normal; }

/* line 30, static/projectapp/css/main.scss */
h3 {
  font-size: 24px;
  line-height: 32px; }

/* line 32, static/projectapp/css/main.scss */
p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  line-height: 36px; }
  /* line 37, static/projectapp/css/main.scss */
  p .small {
    font-size: 18px;
    line-height: 24px; }

/* line 42, static/projectapp/css/main.scss */
body {
  max-width: 935px;
  margin: 0 auto; }

/* line 49, static/projectapp/css/main.scss */
.block {
  display: block; }

/* line 50, static/projectapp/css/main.scss */
.inline {
  display: inline-block; }

/* line 51, static/projectapp/css/main.scss */
.hide {
  display: none !important; }
