/* line 2, static/projectapp/css/main.scss */
.lilac {
  background: lavender; }

/* line 3, static/projectapp/css/main.scss */
.papayawhip {
  background: papayawhip; }

/* line 4, static/projectapp/css/main.scss */
.gray {
  background: gray; }

/* line 7, static/projectapp/css/main.scss */
.bit-3:nth-child(3n-1) .project-tile {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

/* line 10, static/projectapp/css/main.scss */
.bit-3:nth-child(3n+1) .project-tile {
  padding-right: 1.25rem; }

/* line 13, static/projectapp/css/main.scss */
.bit-3:nth-child(3n) .project-tile {
  padding-left: 1.25rem;
  padding-right: 0 !important; }

/* line 39, static/projectapp/css/main.scss */
.gradient {
  background-image: linear-gradient(33deg, #3C23E0 0%, #4422F0 50%, #0372F4 100%);
  background-clip: text;
  text-fill-color: transparent;
  font-family: "FreightTextBold-Regular", serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

/* line 49, static/projectapp/css/main.scss */
h1, h2, h3 {
  color: #042873; }

/* line 50, static/projectapp/css/main.scss */
h1, .h1 {
  font-size: 72px;
  line-height: 80px; }

/* line 51, static/projectapp/css/main.scss */
h2 {
  font-size: 48px;
  line-height: normal; }

/* line 52, static/projectapp/css/main.scss */
h3, .logo {
  font-size: 24px;
  line-height: 28px; }

/* line 54, static/projectapp/css/main.scss */
p, a, span {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  line-height: 36px; }
  /* line 59, static/projectapp/css/main.scss */
  p.sm, a.sm, span.sm {
    font-size: 18px;
    line-height: 24px; }

/* line 64, static/projectapp/css/main.scss */
.freight-text {
  font-family: "FreightTextBold-Regular", serif; }

/* line 65, static/projectapp/css/main.scss */
.ibm-plex {
  font-family: "IBM Plex Sans", sans-serif; }

/* line 67, static/projectapp/css/main.scss */
body {
  margin: 0 auto; }

/* line 72, static/projectapp/css/main.scss */
h1.logo {
  -webkit-text-fill-color: #999;
  -moz-text-fill-color: #999;
  margin-top: 1rem;
  margin-bottom: 3rem; }

/* line 74, static/projectapp/css/main.scss */
.img.avatar img {
  margin-bottom: 1rem;
  width: 120px;
  height: 120px; }

/* line 75, static/projectapp/css/main.scss */
.intro p {
  color: #042873; }

/* line 77, static/projectapp/css/main.scss */
.project-tile {
  display: block;
  text-decoration: none; }

/* line 82, static/projectapp/css/main.scss */
a h3 {
  color: #1F51F3;
  font-weight: 300;
  margin-top: 1.25rem; }

/* line 83, static/projectapp/css/main.scss */
a .details {
  color: #999;
  display: inline-block; }

/* line 87, static/projectapp/css/main.scss */
.thank-you .sm {
  color: #1F51F3;
  display: block;
  text-decoration: none; }
  /* line 89, static/projectapp/css/main.scss */
  .thank-you .sm i {
    margin-right: 0.4rem; }

/* line 94, static/projectapp/css/main.scss */
.post-intro .bit-75 p {
  padding-right: 1rem; }

/* line 95, static/projectapp/css/main.scss */
.works {
  margin-top: 5rem; }

/* line 97, static/projectapp/css/main.scss */
.footer {
  max-width: 680px;
  margin: 0 auto; }

/* line 101, static/projectapp/css/main.scss */
.block {
  display: block !important; }

/* line 102, static/projectapp/css/main.scss */
.inline-block {
  display: inline-block; }

/* line 103, static/projectapp/css/main.scss */
.inline {
  display: inline; }

/* line 104, static/projectapp/css/main.scss */
.hide {
  display: none !important; }

/* line 106, static/projectapp/css/main.scss */
.img.circle {
  border-radius: 50rem; }

/* line 107, static/projectapp/css/main.scss */
.img.thumb img {
  width: 100%;
  height: auto;
  display: inline-block; }

/* line 112, static/projectapp/css/main.scss */
.img.illo img {
  width: 170px;
  height: auto;
  display: block; }

/* line 114, static/projectapp/css/main.scss */
.flex {
  display: flex; }
  /* line 115, static/projectapp/css/main.scss */
  .flex.row {
    flex-direction: row; }
  /* line 116, static/projectapp/css/main.scss */
  .flex.align-center {
    align-items: center; }

/* line 119, static/projectapp/css/main.scss */
.talign.left {
  text-align: left; }

/* line 120, static/projectapp/css/main.scss */
.talign.right {
  text-align: right; }

/* line 121, static/projectapp/css/main.scss */
.talign.center {
  text-align: center; }

/** Large Desktop ------------ **/
@media (min-width: 1440px), (min-device-width: 1440px) {
  /* line 128, static/projectapp/css/main.scss */
  body {
    max-width: 1164px; } }

@media (min-width: 935px) and (max-width: 1440px), (min-device-width: 935px) and (max-device-width-width: 1440px) {
  /* line 134, static/projectapp/css/main.scss */
  body {
    max-width: 935px; } }
