/* line 2, static/projectapp/css/main.scss */
.lilac {
  background: lavender; }

/* line 3, static/projectapp/css/main.scss */
.papayawhip {
  background: papayawhip; }

/* line 4, static/projectapp/css/main.scss */
.light-pink {
  background: light-pink; }

/* line 5, static/projectapp/css/main.scss */
.gray {
  background: gray; }

/* line 6, static/projectapp/css/main.scss */
.circle {
  border-radius: 100px; }

/* line 28, static/projectapp/css/main.scss */
h1 {
  font-size: 72px;
  line-height: 80px; }

/* line 29, static/projectapp/css/main.scss */
h2 {
  font-size: 48px;
  line-height: normal; }

/* line 30, static/projectapp/css/main.scss */
h3, .logo {
  font-size: 24px;
  line-height: 32px; }

/* line 32, static/projectapp/css/main.scss */
p, a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  line-height: 36px; }
  /* line 37, static/projectapp/css/main.scss */
  p.sm, a.sm {
    font-size: 18px;
    line-height: 24px; }

/* line 42, static/projectapp/css/main.scss */
.freight-text {
  font-family: "FreightTextBold-Regular", serif; }

/* line 43, static/projectapp/css/main.scss */
.ibm-plex {
  font-family: "IBM Plex Sans", sans-serif; }

/* line 44, static/projectapp/css/main.scss */
.gradient {
  background-image: linear-gradient(45deg, #DA2500 0%, #F00016 50%, #EC0055 100%);
  background-clip: text;
  text-fill-color: transparent;
  font-family: "FreightTextBold-Regular", serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

/* line 55, static/projectapp/css/main.scss */
body {
  max-width: 935px;
  margin: 0 auto; }

/* line 60, static/projectapp/css/main.scss */
.block {
  display: block; }

/* line 61, static/projectapp/css/main.scss */
.inline {
  display: inline-block; }

/* line 62, static/projectapp/css/main.scss */
.hide {
  display: none !important; }

/* line 64, static/projectapp/css/main.scss */
.img.placeholder {
  background: #E8E8E8;
  border-radius: 300px;
  width: 215px;
  height: 215px;
  display: inline-block;
  position: relative; }
  /* line 71, static/projectapp/css/main.scss */
  .img.placeholder::after {
    content: 'Placeholder';
    display: block;
    position: absolute;
    top: 45%;
    left: 30%; }
  /* line 78, static/projectapp/css/main.scss */
  .img.placeholder.avatar {
    width: 120px;
    height: 120px; }

/* line 83, static/projectapp/css/main.scss */
.img.img-tile {
  width: 100%;
  height: 175px;
  background: #E8E8E8;
  display: block; }

/* line 91, static/projectapp/css/main.scss */
.flex {
  display: flex; }
  /* line 92, static/projectapp/css/main.scss */
  .flex.row {
    flex-direction: row; }
  /* line 93, static/projectapp/css/main.scss */
  .flex.align-center {
    align-items: center; }

/* line 96, static/projectapp/css/main.scss */
.talign.left {
  text-align: left; }

/* line 97, static/projectapp/css/main.scss */
.talign.right {
  text-align: right; }

/* line 98, static/projectapp/css/main.scss */
.talign.center {
  text-align: center; }

/* line 100, static/projectapp/css/main.scss */
.dark-gray {
  color: #999; }
