/* line 19, static/projectapp/css/main.scss */
h1, h2 {
  color: linear-gradient(45deg, #DA2500 0%, #F00016 50%, #EC0055 100%);
  font-family: serif; }

/* line 20, static/projectapp/css/main.scss */
h1 {
  font-size: 72px;
  line-height: 80px; }

/* line 21, static/projectapp/css/main.scss */
h2 {
  font-size: 48px;
  line-height: normal; }

/* line 22, static/projectapp/css/main.scss */
h3 {
  font-size: 24px;
  line-height: 32px; }

/* line 24, static/projectapp/css/main.scss */
p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  line-height: 36px; }
  /* line 29, static/projectapp/css/main.scss */
  p .small {
    font-size: 18px;
    line-height: 24px; }

/* line 34, static/projectapp/css/main.scss */
body {
  max-width: 935px;
  margin: 0 auto; }

/* line 41, static/projectapp/css/main.scss */
.hide {
  display: none !important; }
