/* line 2, static/projectapp/css/main.scss */
.lilac {
  background: lavender; }

/* line 3, static/projectapp/css/main.scss */
.papayawhip {
  background: papayawhip; }

/* line 4, static/projectapp/css/main.scss */
.gray {
  background: gray; }

/* line 7, static/projectapp/css/main.scss */
.bit-3:nth-child(3n-1) .project-tile {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

/* line 10, static/projectapp/css/main.scss */
.bit-3:nth-child(3n+1) .project-tile {
  padding-right: 1.25rem; }

/* line 13, static/projectapp/css/main.scss */
.bit-3:nth-child(3n) .project-tile {
  padding-left: 1.25rem;
  padding-right: 0 !important; }

/* line 42, static/projectapp/css/main.scss */
.gradient {
  background-image: linear-gradient(33deg, #3C23E0 0%, #4422F0 50%, #0372F4 100%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

/* line 51, static/projectapp/css/main.scss */
h1, h2, h3 {
  color: #042873; }

/* line 52, static/projectapp/css/main.scss */
h1, .h1 {
  font-size: 72px;
  line-height: 80px; }

/* line 53, static/projectapp/css/main.scss */
h2 {
  font-size: 48px;
  line-height: normal; }

/* line 54, static/projectapp/css/main.scss */
h3, .logo {
  font-size: 24px;
  line-height: 28px; }

/* line 56, static/projectapp/css/main.scss */
p, a, span {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  line-height: 36px; }
  /* line 61, static/projectapp/css/main.scss */
  p.sm, a.sm, span.sm {
    font-size: 18px;
    line-height: 24px; }

/* line 66, static/projectapp/css/main.scss */
h1, h2, .freight-text {
  font-family: "FreightTextBold-Regular", serif; }

/* line 67, static/projectapp/css/main.scss */
.ibm-plex {
  font-family: "IBM Plex Sans", sans-serif; }

/* line 69, static/projectapp/css/main.scss */
body {
  margin: 0 auto; }

/* line 73, static/projectapp/css/main.scss */
h1.logo {
  margin-top: 1rem;
  margin-bottom: 3rem; }
  /* line 75, static/projectapp/css/main.scss */
  h1.logo a {
    color: #999; }
    /* line 77, static/projectapp/css/main.scss */
    h1.logo a:hover {
      color: #042873; }
    /* line 78, static/projectapp/css/main.scss */
    h1.logo a span {
      font-size: 2rem;
      font-family: "FreightTextBold-Regular", serif; }

/* line 82, static/projectapp/css/main.scss */
.img.avatar img {
  margin-bottom: 1rem;
  width: 120px;
  height: 120px; }

/* line 83, static/projectapp/css/main.scss */
.intro p {
  color: #042873; }

/* line 85, static/projectapp/css/main.scss */
.project-tile {
  display: block;
  text-decoration: none;
  margin-bottom: 4rem;
  position: relative;
  transition: all 0.2s ease-out;
  top: 0; }
  /* line 92, static/projectapp/css/main.scss */
  .project-tile:hover {
    top: -8px;
    transition: all 0.1s ease-in; }
    /* line 96, static/projectapp/css/main.scss */
    .project-tile:hover h3 {
      background-image: linear-gradient(33deg, #3C23E0 0%, #4422F0 50%, #0372F4 100%);
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      border-bottom-color: #D9EAFD;
      transition: all 0.2s ease-in; }

/* line 109, static/projectapp/css/main.scss */
a {
  text-decoration: none; }
  /* line 110, static/projectapp/css/main.scss */
  a h3 {
    line-height: 0;
    display: inline;
    position: relative;
    font-weight: 300;
    border-bottom: 10px solid #ECF4FE;
    top: -15px; }
    /* line 122, static/projectapp/css/main.scss */
    a h3:active, a h3:focus {
      color: #1F51F3;
      transition: all 0.2s ease-in; }
  /* line 127, static/projectapp/css/main.scss */
  a .details {
    color: #999;
    display: block; }

/* line 129, static/projectapp/css/main.scss */
span.line {
  position: relative;
  top: 12px; }

/* line 135, static/projectapp/css/main.scss */
.thank-you .sm {
  color: #1F51F3;
  display: block;
  text-decoration: none; }
  /* line 139, static/projectapp/css/main.scss */
  .thank-you .sm i {
    margin-right: 0.4rem; }

/* line 142, static/projectapp/css/main.scss */
.post-intro .bit-75 p {
  padding-right: 1rem; }

/* line 143, static/projectapp/css/main.scss */
.works {
  margin-top: 5rem; }

/* line 145, static/projectapp/css/main.scss */
.footer {
  max-width: 680px;
  margin: 0 auto; }

/* line 149, static/projectapp/css/main.scss */
.block {
  display: block !important; }

/* line 150, static/projectapp/css/main.scss */
.inline-block {
  display: inline-block; }

/* line 151, static/projectapp/css/main.scss */
.inline {
  display: inline; }

/* line 152, static/projectapp/css/main.scss */
.hide {
  display: none !important; }

/* line 154, static/projectapp/css/main.scss */
.img.circle {
  border-radius: 50rem; }

/* line 155, static/projectapp/css/main.scss */
.img.thumb img {
  width: 100%;
  height: auto;
  display: inline-block; }

/* line 160, static/projectapp/css/main.scss */
.img.illo img {
  width: 170px;
  height: auto;
  display: block; }

/* line 162, static/projectapp/css/main.scss */
.flex {
  display: flex; }
  /* line 163, static/projectapp/css/main.scss */
  .flex.row {
    flex-direction: row; }
  /* line 164, static/projectapp/css/main.scss */
  .flex.align-center {
    align-items: center; }

/* line 167, static/projectapp/css/main.scss */
.talign.left {
  text-align: left; }

/* line 168, static/projectapp/css/main.scss */
.talign.right {
  text-align: right; }

/* line 169, static/projectapp/css/main.scss */
.talign.center {
  text-align: center; }

/** Large Desktop ------------ **/
