{% for field, errors in fields %}
  <div>
    {% if field.use_fieldset %}
      <fieldset>
      {% if field.label %}{% if field.use_legend_id %}{{ field.legend_tag_with_id }}{% else %}{{ field.legend_tag }}{% endif %}{% endif %}
    {% else %}
      {% if field.label %}{{ field.label_tag }}{% endif %}
    {% endif %}
    {{ field }}
    {% if field.use_fieldset %}</fieldset>{% endif %}
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
  </div>
{% endfor %}
{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
