{% extends "databrowse/base_site.html" %}

{% block title %}{{ model.verbose_name_plural|capfirst }} by {{ field.field.verbose_name }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">Home</a> / <a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a> / By {{ field.field.verbose_name }}</div>

<h1>{{ model.verbose_name_plural|capfirst }} by {{ field.field.verbose_name }}</h1>

<ul class="objectlist">
{% for choice in field.choices %}
<li class="{% cycle 'odd' 'even' %}"><a href="{{ choice.url }}">{{ choice.label }}</a></li>
{% endfor %}
</ul>

{% endblock %}
