{% extends "comments/base.html" %}

{% block title %}Preview your comment{% endblock %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post">
    {% if form.errors %}
      <h1>Please correct the error{{ form.errors|pluralize }} below</h1>
    {% else %}
      <h1>Preview your comment</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
        and <input type="submit" name="submit" value="Post your comment" id="submit" /> or make changes:
      </p>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        <p
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          {% if field.errors %}{{ field.errors }}{% endif %}
          {{ field.label_tag }} {{ field }}
        </p>
      {% endif %}
    {% endfor %}
    <p class="submit">
      <input type="submit" name="submit" class="submit-post" value="Post" />
      <input type="submit" name="submit" class="submit-preview" value="Preview" />
    </p>
  </form>
{% endblock %}
