{% load comments %}
<form action="{% comment_form_target %}" method="post">
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {% if field.errors %}{{ field.errors }}{% endif %}
        {{ field.label_tag }} {{ field }}
      </p>
    {% endif %}
  {% endfor %}
  <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="Reply">
    <input type="submit" name="submit" class="submit-preview" value="Preview">
  </p>
</form>
