<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Pastebin</title>
</head>
<body style="background: linear-gradient(45deg, #111010 0%, #35373b 100%) repeat fixed 50% 50%; min-height: 100%">
<h1 class="h1 text-light text-center mt-5">Pastebin</h1>
<div class="text-dark border-primary mt-5 container bg-light w-75 h-50" style="font-family: 'Courier New', serif">
    <pre>
           {{ code|linebreaks }}
    </pre>
</div>

<h2 class="h2 text-light text-center mt-5">Delete</h2>
<div class="container" style="width: fit-content">
    <form action="" method="post" class="mt-5">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="form-control button bg-primary text-light w-50 border-0 container mt-3">Delete
        </button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>