{% extends "base_site" %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% i18n _('Home') %}</a> &rsaquo; {% i18n _('Password reset') %}</div>{% endblock %}

{% block title %}{% i18n _("Password reset") %}{% endblock %}

{% block content %}

<h1>{% i18n _("Password reset") %}</h1>

<p>{% i18n _("Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you.") %}</p>

<form action="" method="post">
{% if form.email.errors %}{{ form.email.html_error_list }}{% endif %}
<p><label for="id_email">{% i18n _('E-mail address:') %}</label> {{ form.email }} <input type="submit" value="{% i18n _('Reset my password') %}" /></p>
</form>

{% endblock %}
