{% load i18n %}

<div class="selector-inline inline-group" id="{{ inline_admin_formset.opts.verbose_name}}-group">
    <div class="inline-related">
        {{ inline_admin_formset.formset.management_form }}
            <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
            
            {{ inline_admin_formset.formset.non_form_errors }}
            
            <ul class="inline-selector">
                {% for inline_admin_form in inline_admin_formset %}
                    <li class="inline-selector-item">
                        <a href="#" class="inline-select" title="{{ inline_admin_formset.opts.verbose_name}}{{ forloop.counter }}">
                        {% if inline_admin_form.original or inline_admin_form.show_url %}
                            {% if inline_admin_form.original %} {{ inline_admin_form.original }}{% endif %}
                            {% if inline_admin_form.show_url %}<a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a>{% endif %}
                        {% else %}
                        {{ inline_admin_formset.opts.verbose_name|title}}: #{{ forloop.counter }}
                        {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
            <div class="inline-detail">
            {% for inline_admin_form in inline_admin_formset %}
                <div class="selector-item-detail" id="{{ inline_admin_formset.opts.verbose_name}}{{ forloop.counter }}">
                    <h3>
                        {% if inline_admin_form.original or inline_admin_form.show_url %}
                            {% if inline_admin_form.original %} {{ inline_admin_form.original }}{% endif %}
                            {% if inline_admin_form.show_url %}<a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a>{% endif %}
                        {% else %}
                            {{ inline_admin_formset.opts.verbose_name|title}}: #{{ forloop.counter }}
                        {% endif %}

                        {% if inline_admin_formset.formset.can_delete %}
                            <span class="inline-selector-delete">
                                {% if inline_admin_form.original %}
                                    {{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}
                                {% endif %}
                            </span>
                        {% endif %}
                    </h3>

                    {% if inline_admin_form.form.non_field_errors %}
                        {{ inline_admin_form.form.non_field_errors }}
                    {% endif %}
                    
                    {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                    
                    {{ inline_admin_form.fk_field.field }}
                    
                    {% spaceless %}
                    {% for fieldset in inline_admin_form %}
                        {% for line in fieldset %}
                            {% for field in line %}
                                {% if field.is_hidden %} {{ field.field }} {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    {% endspaceless %}

                    {% for fieldset in inline_admin_form %}
                    <fieldset class="module aligned {{ fieldset.classes }}">
                      {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
                      {% if fieldset.description %}<div class="description">{{ fieldset.description|safe }}</div>{% endif %}
                      {% for line in fieldset %}
                          <div class="form-row{% if line.errors %} errors{% endif %} {% for field in line %}{{ field.field.name }} {% endfor %} ">
                          {{ line.errors }}
                          {% for field in line %}
                          <div{% if not line.fields|length_is:"1" %} class="field-box"{% endif %}>
                              {% if field.is_checkbox %}
                                  {{ field.field }}{{ field.label_tag }}
                              {% else %}
                                  {{ field.label_tag }}{{ field.field }}
                              {% endif %}
                              {% if field.field.field.help_text %}<p class="help">{{ field.field.field.help_text|safe }}</p>{% endif %}
                          </div>
                          {% endfor %}
                          </div>
                      {% endfor %}
                    </fieldset>
                    {% endfor %}
               </div>
            {% endfor %}
            </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $('.inline-detail .selector-item-detail').hide();
    $('.inline-detail .selector-item-detail:first').show();
    $('.inline-selector .inline-selector-item:first').addClass('inline-selected');
    
    $('.inline-selector-item').click(function () {
        $('.inline-detail .selector-item-detail').hide();
        $('.inline-selector .inline-selector-item').removeClass('inline-selected');

        $(this).addClass('inline-selected');
        
        var div_to_show = '#' + $(this).find('a').attr('title');
        $(div_to_show).fadeIn('normal');
        
        return false;
    });

    {% if inline_admin_formset.opts.order_field %}
    /* Reordering Inlines */
    var list = $('ul.inline-selector').ListReorder({ useDefaultDragHandle: true});
    var id_prefix = '#{{ inline_admin_formset.opts.verbose_name}}';
    
    list.bind('listorderchanged', function(evt, jq_list, list_order) {
        counter = 1;
        $(id_prefix + '-group a.inline-select').each(function (i) {
            if (counter < list_order.length) {
                $('.inline-detail #' + $(this).attr('title') + 
                    ' input[id$="{{ inline_admin_formset.opts.order_field }}"]').val(counter++);
            }
        });
    });
    
    {% endif %}
});
</script>