{% load i18n %}
<div class="inline-group" id="{{ inline_admin_formset.opts.verbose_name}}-group">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

{% for inline_admin_form in inline_admin_formset %}
<div class="inline-related{% if forloop.last %} last-related{% endif %}" id="{{ inline_admin_formset.opts.verbose_name}}{{ forloop.counter }}">
  <h3><b>{{ inline_admin_formset.opts.verbose_name|title }}:</b>&nbsp;{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% else %} #{{ forloop.counter }}{% endif %}
    {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
  </h3>
  {% if inline_admin_form.show_url %}
  <p><a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a></p>
  {% endif %}
  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}

  {% for fieldset in inline_admin_form %}
    {% include "admin/includes/fieldset.html" %}
  {% endfor %}
  {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
  {{ inline_admin_form.fk_field.field }}
</div>
{% endfor %}

<ul class="tools add_inline">
  <li><a id="{{ inline_admin_formset.opts.verbose_name }}-add" class="add" href="#">Add a {{ inline_admin_formset.opts.verbose_name }}</a></li>
</ul>

</div>

<script type="text/javascript">
$(function() {
    {# TODO Zain: properly set the TOTAL_FORMS hidden input field #}
    
    var id_prefix = "{{ inline_admin_formset.opts.verbose_name }}";
    var total_forms = {{ inline_admin_formset.formset.management_form.initial.TOTAL_FORMS }};
    var initial_forms = {{ inline_admin_formset.formset.management_form.initial.INITIAL_FORMS }};
    
    // since javascript is turned on, unhide the "add new <inline>" link and hide the extras
    $('.add_inline').show();
    
    for(var i = initial_forms + 1; i <= total_forms; i++) {
        $('#' + id_prefix + i).hide();
    }
    
    total_forms = initial_forms;
    
    // clicking on the "add" link will add a blank form to add a new inline object
    $('#' + id_prefix + "-add").click(function() {
        {# TODO Zain: this will not work if extra = 0 for the inline #}
        total_forms++;
        
        // clone the first hidden extra-inline field and append it to the inline list
        $('#' + id_prefix + (initial_forms + 1)).clone().fadeIn('normal')
            .insertAfter('#' + id_prefix + "-group .inline-related:last")
            .attr("id", id_prefix + total_forms)
        
        return false;
    });
});
</script>
