/* LOGIN FORM */

.login {
    background: var(--darkened-bg);
    block-size: auto;
}

.login #header {
    block-size: auto;
    padding-block: 15px;
    padding-inline: 16px;
    justify-content: center;
}

.login #header h1 {
    font-size: 1.125rem;
    margin: 0;
}

.login #header h1 a {
    color: var(--header-link-color);
}

.login #content {
    padding-block: 20px 0;
    padding-inline: 20px;
}

.login #container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    inline-size: 28em;
    min-inline-size: 300px;
    margin-block: 100px;
    margin-inline: auto;
    block-size: auto;
}

.login .form-row {
    padding-block: 4px;
    padding-inline: 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    inline-size: 100%;
    box-sizing: border-box;
}

.login .submit-row {
    padding-block: 1em 0;
    padding-inline: 0;
    margin: 0;
    text-align: center;
}

.login .password-reset-link {
    text-align: center;
}
