/* GLOBAL */

th {
}

.module h2, .module caption {
}

.module ul, .module ol {
}

.viewlink, .addlink, .changelink, .hidelink {
    background-position: 100% 1px;
}

.deletelink {
    background-position: 100% 1px;
}

.object-tools {
}

thead th:first-child,
tfoot td:first-child {
}

/* LAYOUT */

#user-tools {
}

div.breadcrumbs {
}

#content-main {
}

#content-related {
}

.colMS {
}

/* SORTABLE TABLES */

table thead th.sorted .sortoptions {
}

thead th.sorted .text {
}

/* dashboard styles */

.dashboard .module table td a {
}

/* changelists styles */

.change-list .filtered table {
}

#changelist-filter {
}

#changelist-filter li.selected {
}

#changelist table tbody td:first-child, #changelist table tbody th:first-child {
}

.paginator .end {
}

.paginator input {
}

/* FORMS */

.aligned label {
}

.submit-row a.deletelink {
}

.vDateField, .vTimeField {
}

.aligned .form-row input {
}

form .aligned ul {
}

form ul.inline li {
}

form .aligned p.help,
form .aligned div.help {
}

form div.help ul,
form .aligned .checkbox-row + .help,
form .aligned p.date div.help.timezonewarning,
form .aligned p.datetime div.help.timezonewarning,
form .aligned p.time div.help.timezonewarning {
}

form .wide p.help, form .wide div.help {
}

.submit-row {
}

fieldset .fieldBox {
}

.errorlist li {
    background-position: 100% 12px;
    padding: 0;
}

.errornote {
    background-position: 100% 12px;
}

/* WIDGETS */

.calendarnav-previous {
    background-position: 0 -30px;
}

.calendarbox .calendarnav-previous:focus,
.calendarbox .calendarnav-previous:hover {
    background-position: 0 -45px;
}

.calendarnav-next {
    background-position: 0 0;
}

.calendarbox .calendarnav-next:focus,
.calendarbox .calendarnav-next:hover {
    background-position: 0 -15px;
}

.calendar caption, .calendarbox h2 {
}

.selector {
}

.selector .selector-filter {
}

.selector-add {
    background-position: 0 -64px;
}

.active.selector-add:focus, .active.selector-add:hover {
  background-position: 0 -80px;
}

.selector-remove {
    background-position: 0 -96px;
}

.active.selector-remove:focus, .active.selector-remove:hover {
  background-position: 0 -112px;
}

a.selector-chooseall {
    background-position: right -128px;
}

a.active.selector-chooseall:focus, a.active.selector-chooseall:hover {
    background-position: 100% -144px;
}

a.selector-clearall {
    background-position: 0 -160px;
}

a.active.selector-clearall:focus, a.active.selector-clearall:hover {
    background-position: 0 -176px;
}

.inline-deletelink {
}

form .form-row p.datetime {
    overflow: hidden;
}

.related-widget-wrapper {
}

/* MISC */

.inline-related h2, .inline-group h2 {
}

.inline-related h3 span.delete {
}

.inline-related h3 span.delete label {
}
