/* GLOBAL */

.viewlink,
.inlineviewlink,
.addlink,
.changelink,
.inlinechangelink,
.hidelink {
    background-position-x: 100%;
}

.deletelink {
    background-position: 100% 1px;
}

.object-tools a.viewsitelink,
.object-tools a.addlink {
    background-position: left 7px center;
}

/* FORMS */

form .aligned ul {
    margin: 0;
}

/* WIDGETS */

.calendarnav-previous {
    background: url(../img/calendar-icons.svg) 0 -15px no-repeat;
}

.calendarnav-next {
    background: url(../img/calendar-icons.svg) 0 0 no-repeat;
}

.selector-add {
    background: url(../img/selector-icons.svg) 0 -96px no-repeat;
    background-size: 24px auto;
}

:enabled.selector-add:focus,
:enabled.selector-add:hover {
    background-position: 0 -120px;
}

.selector-remove {
    background: url(../img/selector-icons.svg) 0 -144px no-repeat;
    background-size: 24px auto;
}

:enabled.selector-remove:focus,
:enabled.selector-remove:hover {
    background-position: 0 -168px;
}

:enabled.selector-chooseall:focus,
:enabled.selector-chooseall:hover {
    background-position: 100% -144px;
}

:enabled.selector-clearall:focus,
:enabled.selector-clearall:hover {
    background-position: 0 -176px;
}

form .form-row p.datetime {
    overflow: hidden;
}

/* MISC */

ul.messagelist li {
    background-position-x: calc(100% - 40px);
}
