{% load i18n %}
<input type="text" id="lookup_{{ name }}" value="{{ label }}" style="display:none;" />
<a href="{{ related_url }}{{ url }}" class="related-lookup" id="lookup_id_{{ name }}" onclick="return showRelatedObjectLookupPopup(this);">
  <img src="{{ admin_media_prefix }}img/admin/selector-search.gif" width="16" height="16" alt="{% trans "Lookup" %}" />
</a>
<script type="text/javascript">
$(document).ready(function() {
    // Show lookup input
    $("#lookup_{{ name }}").show();
    
    $('#lookup_{{ name }}').autocomplete('{{ search_path }}', {
      dataType: 'json',
      parse: function(data) {
        var rows = new Array();
        for(var i=0; i<data.length; i++){
            rows[i] = { data:data[i], value:data[i].id, result:data[i].name };
        }
        return rows;
      },
      formatItem: function(row, i, n) {
        return row.name;
      },
      cacheLength: 0,
    }).result(
        function(event, data, formatted) {
            if (data) {
                $('#id_{{ name }}').val(data.id);
        }
    });
});
</script>