name: Coverage Tests

on:
  pull_request:
    paths:
      - 'django/**/*.py'
      - 'tests/**/*.py'
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  coverage:
    if: github.repository == 'django/django'
    name: Coverage Tests (Windows)
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'
          cache-dependency-path: 'tests/requirements/py3.txt'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install -r tests/requirements/py3.txt -e .
          python -m pip install 'coverage[toml]'

      - name: Run tests with coverage
        env:
          PYTHONPATH: ${{ github.workspace }}/tests
          COVERAGE_PROCESS_START: ${{ github.workspace }}/tests/.coveragerc
          RUNTESTS_DIR: ${{ github.workspace }}/tests
        run: |
          python -Wall tests/runtests.py -v2

      - name: Generate coverage report
        if: success()
        env:
          COVERAGE_RCFILE: ${{ github.workspace }}/tests/.coveragerc
          RUNTESTS_DIR: ${{ github.workspace }}/tests
        run: |
          python -m coverage combine
          python -m coverage report --show-missing
          python -m coverage xml -o tests/coverage.xml

      - name: Upload coverage data
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ github.event.pull_request.number }}
          path: tests/coverage.xml
          retention-days: 1

      - name: Save PR number
        if: success()
        run: echo "${{ github.event.pull_request.number }}" > pr_number.txt

      - name: Upload PR number
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: pr-number-${{ github.event.pull_request.number }}
          path: pr_number.txt
          retention-days: 1
          