name: Linters

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - name: Eco-CI Init
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: start-measurement
          
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: python -m pip install flake8
      - name: flake8
        # Pinned to v2.0.0.
        uses: liskin/gh-problem-matcher-wrap@d8afa2cfb66dd3f982b1950429e652bc14d0d7d2
        with:
          linters: flake8
          run: flake8
          
      - name: Eco-CI Measurement
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: get-measurement
          label: 'flake8'
          
      - name: Eco-CI Show Result
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: display-results

  isort:
    runs-on: ubuntu-latest
    steps:
      - name: Eco-CI Init
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: start-measurement
          
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: python -m pip install isort
      - name: isort
        # Pinned to v2.0.0.
        uses: liskin/gh-problem-matcher-wrap@d8afa2cfb66dd3f982b1950429e652bc14d0d7d2
        with:
          linters: isort
          run: isort --check --diff django tests scripts
          
      - name: Eco-CI Measurement
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: get-measurement
          label: 'isort'
          
      - name: Eco-CI Show Result
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: display-results

  black:
    runs-on: ubuntu-latest
    steps:
      - name: Eco-CI Init
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: start-measurement
          
      - name: Checkout
        uses: actions/checkout@v3
      - name: black
        uses: psf/black@stable
        
      - name: Eco-CI Measurement
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: get-measurement
          label: 'black'
          
      - name: Eco-CI Show Result
        uses: green-coding-berlin/eco-ci-energy-estimation@318-refactor-standalone-scripts
        with:
          task: display-results
