name: GeoDjango Tests

on:
  pull_request:
    types: [labeled, synchronize, opened, reopened]
    paths-ignore:
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  postgis:
    if: contains(github.event.pull_request.labels.*.name, 'geodjango')
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - postgis-version: "latest"
            package-manager: "apt"
          - postgis-version: "18-3.6-alpine"
            package-manager: "apk"
          - postgis-version: "17-master"
            package-manager: "apt"
    name: PostGIS ${{ matrix.postgis-version }}
    container:
      image: postgis/postgis:${{ matrix.postgis-version }}
    services:
      postgres:
        image: postgis/postgis:${{ matrix.postgis-version }}
        env:
          POSTGRES_DB: geodjango
          POSTGRES_USER: user
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install system dependencies
        run: |
          if [ "${{ matrix.package-manager }}" = "apt" ]; then
            apt update
            apt install -y git libmemcached-dev curl ca-certificates
          else
            apk add --no-cache git libmemcached-dev build-base curl ca-certificates
          fi
      - name: Install UV
        run: curl -LsSf https://astral.sh/uv/install.sh
      - name: Install Python
        run: uv python install 3.14
      - name: Print PostGIS and geospatial library versions
        env:
          POSTGRES_DB: geodjango
          POSTGRES_USER: user
          POSTGRES_PASSWORD: postgres
        run: |
          PGPASSWORD=$POSTGRES_PASSWORD psql -U $POSTGRES_USER -d $POSTGRES_DB -h localhost -c "SELECT PostGIS_full_version();"
          gdal --version
          proj
          geosop
      - name: Install and upgrade packaging tools
        run: uv pip install --upgrade pip wheel
      - run: uv pip install -r tests/requirements/py3.txt -r tests/requirements/postgres.txt -e .
      - name: Create PostgreSQL settings file
        run: mv ./.github/workflows/data/test_postgis.py.tpl ./tests/test_postgis.py
      - name: Run PostGIS tests
        run: uv run tests/runtests.py -v2 --settings=test_postgis
        env:
          PYTHONWARNINGS: all
