name: GeoDjango Tests

on:
  pull_request:
    types: [labeled, synchronize, opened, reopened]
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
   contents: read

jobs:
  postgis:
    if: contains(github.event.pull_request.labels.*.name, 'geodjango')
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        postgis-version: ["latest", "18-3.6-alpine", "17-master"]
    name: PostGIS ${{ matrix.postgis-version }}
    services:
      postgres:
        image: postgis/postgis:${{ matrix.postgis-version }}
        env:
          POSTGRES_DB: geodjango
          POSTGRES_USER: user
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        id: setup_python
        with:
          python-version: '3.14'
      - name: Update apt repo
        run: sudo apt update
      - name: Install libmemcached-dev for pylibmc
        run: sudo apt install -y libmemcached-dev
      - name: Install geospatial dependencies
        run: sudo apt install -y binutils libproj-dev gdal-bin
      - name: Print PostGIS versions
        env:
          POSTGRES_DB: geodjango
          POSTGRES_USER: user
          POSTGRES_PASSWORD: postgres
        run: |
          PGPASSWORD=$POSTGRES_PASSWORD psql -U $POSTGRES_USER -d $POSTGRES_DB -h localhost -c "SELECT PostGIS_full_version();"
      - name: Restore cached virtualenv
        id: cache-venv
        uses: actions/cache/restore@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt', 'tests/requirements/postgres.txt') }}
          path: .venv
      - name: Create virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: python -m venv .venv
      - name: Install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip wheel
          python -m pip install -r tests/requirements/py3.txt -r tests/requirements/postgres.txt -e .
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
      - name: Save cached virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt', 'tests/requirements/postgres.txt') }}
          path: .venv
      - name: Create PostgreSQL settings file
        run: mv ./.github/workflows/data/test_postgis.py.tpl ./tests/test_postgis.py
      - name: Run PostGIS tests
        run: python -Wall tests/runtests.py -v2 --settings=test_postgis
