name: Schedule tests

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version:
          - '3.12'
          - '3.13'
          - '3.14'
          - '3.15-dev'
    name: Windows, SQLite, Python ${{ matrix.python-version }}
    timeout-minutes: 60
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        id: setup_python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Restore cached virtualenv
        id: cache-venv
        uses: actions/cache/restore@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt') }}
          path: .venv
      - name: Create virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: python -m venv .venv
      - name: Install dependencies
        run: |
          . .venv\Scripts\Activate.ps1
          python -m pip install --upgrade pip wheel
          python -m pip install -r tests/requirements/py3.txt -e .
          "$PWD\.venv\Scripts" | Out-File -FilePath $env:GITHUB_PATH -Append
          "VIRTUAL_ENV=$PWD\.venv" | Out-File -FilePath $env:GITHUB_ENV -Append
      - name: Save cached virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt') }}
          path: .venv
      - name: Run tests
        run: python -Wall tests/runtests.py -v2

  pyc-only:
    runs-on: ubuntu-latest
    name: Byte-compiled Django with no source files (only .pyc files)
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        id: setup_python
        with:
          python-version: '3.14'
      - name: Install libmemcached-dev for pylibmc
        run: sudo apt-get install libmemcached-dev
      - name: Restore cached virtualenv
        id: cache-venv
        uses: actions/cache/restore@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt') }}
          path: .venv
      - name: Create virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: python -m venv .venv
      - name: Install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip wheel
          python -m pip install .
          DJANGO_PACKAGE_ROOT=$(python -c 'import site; print(site.getsitepackages()[0])')/django
          echo $DJANGO_PACKAGE_ROOT
          python -m compileall -b $DJANGO_PACKAGE_ROOT
          find $DJANGO_PACKAGE_ROOT -name '*.py' -print -delete
          python -m pip install -r tests/requirements/py3.txt
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
      - name: Save cached virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt') }}
          path: .venv
      - name: Run tests
        run: python -Wall tests/runtests.py --verbosity=2

  javascript-tests:
    runs-on: ubuntu-latest
    name: JavaScript tests
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package.json'
      - run: npm install
      - run: npm test

  selenium-sqlite:
    runs-on: ubuntu-latest
    name: Selenium tests, SQLite
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        id: setup_python
        with:
          python-version: '3.14'
      - name: Install libmemcached-dev for pylibmc
        run: sudo apt-get install libmemcached-dev
      - name: Restore cached virtualenv
        id: cache-venv
        uses: actions/cache/restore@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt') }}
          path: .venv
      - name: Create virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: python -m venv .venv
      - name: Install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip wheel
          python -m pip install -r tests/requirements/py3.txt -e .
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
      - name: Save cached virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt') }}
          path: .venv
      - name: Run Selenium tests
        working-directory: ./tests/
        run: |
          python -Wall runtests.py --verbosity 2 --noinput --selenium=chrome --headless --settings=test_sqlite --parallel 1

  selenium-postgresql:
    runs-on: ubuntu-latest
    name: Selenium tests, PostgreSQL
    timeout-minutes: 60
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: django
          POSTGRES_USER: user
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        id: setup_python
        with:
          python-version: '3.14'
      - name: Install libmemcached-dev for pylibmc
        run: sudo apt-get install libmemcached-dev
      - name: Restore cached virtualenv
        id: cache-venv
        uses: actions/cache/restore@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt', 'tests/requirements/postgres.txt') }}
          path: .venv
      - name: Create virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: python -m venv .venv
      - name: Install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip wheel
          python -m pip install -r tests/requirements/py3.txt -r tests/requirements/postgres.txt -e .
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
      - name: Save cached virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt', 'tests/requirements/postgres.txt') }}
          path: .venv
      - name: Create PostgreSQL settings file
        run: mv ./.github/workflows/data/test_postgres.py.tpl ./tests/test_postgres.py
      - name: Run Selenium tests
        working-directory: ./tests/
        run: |
          python -Wall runtests.py --verbosity 2 --noinput --selenium=chrome --headless --settings=test_postgres --parallel 1

  postgresql:
    strategy:
      fail-fast: false
      matrix:
        version: [16, 17, 18]
        server_side_bindings: [0, 1]
    runs-on: ubuntu-latest
    name: PostgreSQL Versions
    timeout-minutes: 60
    env:
      SERVER_SIDE_BINDING: ${{ matrix.server_side_bindings }}
    services:
      postgres:
        image: postgres:${{ matrix.version }}-alpine
        env:
          POSTGRES_DB: django
          POSTGRES_USER: user
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        id: setup_python
        with:
          python-version: '3.14'
      - name: Install libmemcached-dev for pylibmc
        run: sudo apt-get install libmemcached-dev
      - name: Restore cached virtualenv
        id: cache-venv
        uses: actions/cache/restore@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt', 'tests/requirements/postgres.txt') }}
          path: .venv
      - name: Create virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: python -m venv .venv
      - name: Install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip wheel
          python -m pip install -r tests/requirements/py3.txt -r tests/requirements/postgres.txt -e .
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
      - name: Save cached virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt', 'tests/requirements/postgres.txt') }}
          path: .venv
      - name: Create PostgreSQL settings file
        run: mv ./.github/workflows/data/test_postgres.py.tpl ./tests/test_postgres.py
      - name: Run tests
        working-directory: ./tests/
        run: python -Wall runtests.py --settings=test_postgres --verbosity=2
