name: Visual Regression Tests

on:
  pull_request:
    types: [labeled, synchronize, opened, reopened]
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  selenium-screenshots:
    if: contains(join(github.event.pull_request.labels.*.name, '|'), 'screenshots')
    runs-on: ubuntu-latest
    name: Screenshots
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        id: setup_python
        with:
          python-version: '3.14'
      - name: Restore cached virtualenv
        id: cache-venv
        uses: actions/cache/restore@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt') }}
          path: .venv
      - name: Create virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: python -m venv .venv
      - name: Install dependencies
        run: |
          source .venv/bin/activate
          python -m pip install --upgrade pip wheel
          python -m pip install -r tests/requirements/py3.txt -e .
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV
      - name: Save cached virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('tests/requirements/py3.txt') }}
          path: .venv

      - name: Run Selenium tests with screenshots
        working-directory: ./tests/
        run: python -Wall runtests.py --verbosity=2 --noinput --selenium=chrome --headless --screenshots --settings=test_sqlite --parallel=1

      - name: Cache oxipng
        uses: actions/cache@v4
        with:
          path: ~/.cargo/
          key: ${{ runner.os }}-cargo

      - name: Install oxipng
        run: which oxipng || cargo install oxipng

      - name: Optimize screenshots
        run: oxipng --interlace=0 --opt=4 --strip=safe tests/screenshots/*.png

      - name: Organize screenshots
        run: |
          mkdir --parents "/tmp/screenshots/${{ github.event.pull_request.head.sha }}"
          mv tests/screenshots/* "/tmp/screenshots/${{ github.event.pull_request.head.sha }}/"

      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        with:
          name: screenshots-${{ github.event.pull_request.head.sha }}
          path: /tmp/screenshots/
          if-no-files-found: error
