name: Tests

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  windows:
    if: github.event_name == 'push'
    runs-on: windows-latest
    strategy:
      matrix:
        python-version:
          - '3.14'
    name: Windows, SQLite, Python ${{ matrix.python-version }}
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Restore cached virtualenv
        uses: actions/cache/restore@v4
        with:
          path: .venv
          key: >
            venv-windows-
            ${{ steps.setup_python.outputs.python-version }}-
            ${{ hashFiles('tests/requirements/py3.txt') }}

      - name: Install and upgrade packaging tools
        run: |
          python -m venv .venv
          .venv\Scripts\activate

          python -m pip install --upgrade pip wheel
          python -m pip install -r tests/requirements/py3.txt -e .

          echo ".venv\Scripts" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=.venv" >> $GITHUB_ENV

      - name: Save cached virtualenv
        uses: actions/cache/save@v4
        with:
          path: .venv
          key: >
            venv-windows-
            ${{ steps.setup_python.outputs.python-version }}-
            ${{ hashFiles('tests/requirements/py3.txt') }}
    
      - name: Run tests
        run: python -Wall tests/runtests.py -v2

  javascript-tests:
    runs-on: ubuntu-latest
    name: JavaScript tests
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package.json'
      - run: npm install
      - run: npm test
